<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/schoolIndex.css" />
		<title>云智教育</title>
	</head>
	<body>
		<div class="container">
		<!--顶部标题栏-->
		<div class="header">
			<img class="img-logo1" src="img/logo.png" />
			<a href="index.html"><img class="head" src="img/字体设计.png" /></a>
		        <a  href="class.html" class="nav1">我的课程</a>
		        <a href="message.html" class="nav2">消息</a>
		        <a href="login.html" class="nav3">登录/注册</a>
            <img id="icon" src="img/头像.png" /> 
		</div>
	
		  <div class="TreeWrap">
		  	<a href="schoolIndex.html" class="ew">院系管理</a>
<div class="MenuBox" id="Menu_0">
<div class="titBox"><h3 class="Fst"><a href="javascript:showMenu(0);">门户管理</a></h3></div>
<div class="txtBox">
 <ul>
 <li><a href="Carousel.html">轮播图管理</a></li>
 <li><a href="news.html">资讯管理</a></li>
 </ul>
</div>
</div><!--MenuBox-->
<div class="MenuBox2" id="Menu_1">
<div class="titBox"><h3><a href="javascript:showMenu(1);">系统管理</a></h3></div>
<div class="txtBox">
 <ul>
 <li><a href="#">院系管理</a></li>
 <li><a href="#">学生管理</a></li>
 <li><a href="#">班级管理</a></li>
 </ul>
</div>
</div><!--MenuBox-->
<div class="MenuBox2" id="Menu_2">
<div class="titBox"><h3><a href="javascript:showMenu(2);">交流监管</a></h3></div>
<div class="txtBox">
 <ul>
 <li><a href="topic.html">话题锁定与删除</a></li>
 <li><a href="#">全文搜索</a></li>
 <li><a href="sensitive.html">敏感词设置</a></li>
 <li><a href="picture.html">图片浏览/删除</a></li>
 </ul>
</div>
</div><!--MenuBox-->
<div class="MenuBox2" id="Menu_3">
<div class="titBox"><h3><a href="javascript:showMenu(3);">实训动态</a></h3></div>
<div class="txtBox">
 <ul>
 <li><a href="putTraining.html">发布实训</a></li>
 <li><a href="trainingData.html">实训数据汇总</a></li>
 </ul>
</div>
</div><!--MenuBox-->
<div class="MenuBox2" id="Menu_4">
<div class="titBox"><h3><a href="javascript:showMenu(4);">数据分析</a></h3></div>
<div class="txtBox">
 <ul>
 <li><a href="data.html">数据分析</a></li>
 </ul>
</div>
</div><!--MenuBox-->
<div class="MenuBox2" id="Menu_5">
<div class="titBox"><h3><a href="javascript:showMenu(5);">实时数据</a></h3></div>
<div class="txtBox">
 <ul>
 <li><a href="real-time data.html">实时数据</a></li>
 </ul>
</div>
</div><!--MenuBox-->
</div>
            <div class="buttonStyle">
               <button type="button" id="schoolCarousel">轮播图管理</button>
		    </div>
		
		<!--学校背景图-->
		<div class="schoolBg">
			
		</div>
		<!--学校校徽-->
		<img class="schoolBedge" src="img/Badge 5.png"/>
		<a href="Alumni circle.html" class="circleP">校友圈</a>
		<!--学校简介-->
		<div class="schoolIntro">
			<p>这里是学校简介巴拉不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不</p>
		</div>
		<!--分隔符-->
		<div class="hr">
		     	
		</div>
		<!--新闻资讯-->
		<div class="news">
			<div class="buttonStyle">
               <button type="button" id="newsbutton">资讯管理</button>
		    </div>
			<div class="newsContent">
				<p>dskkjsklsdfkjgggggfkldkbndsl;nbjfdlsf</p>
			</div>
		</div>
		<!--课程推荐-->
		<div class="class-navigation">
			<span class="allClass">
				全部课程
			</span>
			<span class="latestClass">
				最新课程
			</span>
			<button id="moreBtn">更多</button>
		</div>
		<!--课程列表第一行-->
		<div id="classViewPanel">
		<div class="class-row1">
	    <div class="class1">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	    
	    <div class="class2">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	    
	    <div class="class3">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	     
	    <div class="class4">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	    
	    <div class="class5">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	 </div>
	    <!--  课程列表第二行-->
	    <div class="class-row2">
	    <!--课程列表-->
	    <div class="class1">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	    
	    <div class="class2">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	    
	    <div class="class3">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	     
	    <div class="class4">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	    
	    <div class="class5">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<a href="classContent.html"><span class="classHeader"></span></a>
	    	<div class="subHeader"></div>
	    </div>
	    
	  </div>
	  </div>
	    <!--院校推荐-->
		<div class="teacher-navigation">
			<span class="allTeacher">
				<p>所有讲师</p>
			</span>
			<button id="moreBtn1">更多</button>
		</div>
		<div id="schoolViewPanel">
		<!--老师推荐图标第一行-->
        <div class="teacherRow1">
		<div class="teacher1">
			<a href="teacher.html"><img class="teacherPic" src="img/classPic.png"></a>
			<a href="teacher.html"><span class="pCenter"></span></a>
			<span class="pCenter1"></span>
		</div>
		<div class="teacher2">
			<a href="teacher.html"><img class="teacherPic" src="img/classPic.png"></a>
			<a href="teacher.html"><span class="pCenter"></span></a>
			<span class="pCenter1"></span>
		</div>
		<div class="teacher3">
			<a href="teacher.html"><img class="teacherPic" src="img/classPic.png"></a>
			<a href="teacher.html"><span class="pCenter"></span></a>
			<span class="pCenter1"></span>
		</div>
		<div class="teacher4">
			<a href="teacher.html"><img class="teacherPic" src="img/classPic.png"></a>
			<a href="teacher.html"><span class="pCenter"></span></a>
			<span class="pCenter1"></span>
		</div>
		</div>
		<!--老师推荐图标第二行-->
        <div class="teacherRow2">
		<div class="teacher1">
			<a href="teacher.html"><img class="teacherPic" src="img/classPic.png"></a>
			<a href="teacher.html"><span class="pCenter"></span></a>
			<span class="pCenter1"></span>
		</div>
		<div class="teacher2">
			<a href="teacher.html"><img class="teacherPic" src="img/classPic.png"></a>
			<a href="teacher.html"><span class="pCenter"></span></a>
			<span class="pCenter1"></span>
		</div>
		<div class="teacher3">
			<a href="teacher.html"><img class="teacherPic" src="img/classPic.png"></a>
			<a href="teacher.html"><span class="pCenter"></span></a>
			<span class="pCenter1"></span>
		</div>
		<div class="teacher4">
			<a href="teacher.html"><img class="teacherPic" src="img/classPic.png"></a>
			<a href="teacher.html"><span class="pCenter"></span></a>
			<span class="pCenter1"></span>
		</div>
		</div>
		</div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
			
	    </div>
	    </div>
	    <script type="text/javascript">
	    	document.getElementById('icon').onclick=function(){
                window.location.assign('http://127.0.0.1:8020/%E4%BA%91%E6%99%BA%E6%95%99%E8%82%B2/login.html?__hbt=1521282909333');
            }
	    	/*更多按钮 */   	
	var btn = document.getElementById('moreBtn');
    var obj = document.getElementById('classViewPanel');
    var total_height =  obj.scrollHeight;//文章总高度
    var show_height = 400;//定义原始显示高度
    if(total_height>show_height){
    btn.style.display = 'block';
    btn.onclick = function(){
    obj.style.height = total_height + 'px';
    /*btn.style.display = 'none';*/
    }
    
    }
function ExChgClsName(Obj,NameA,NameB){
 var Obj=document.getElementById(Obj)?document.getElementById(Obj):Obj;
 Obj.className=Obj.className==NameA?NameB:NameA;
 }
 function showMenu(iNo){
 ExChgClsName("Menu_"+iNo,"MenuBox","MenuBox2");
 }
          var btn1 = document.getElementById("schoolCarousel");  
        btn1.onclick =function(){  
            window.open('Carousel.html');
        }
        var btn2 = document.getElementById("newsbutton");  
        btn2.onclick =function(){  
            window.open('news.html');
        }
	    </script>
	</body>
</html>
