<!DOCTYPE html>
<html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script>
        var topicID=getCookie("topicID");
		window.onload=function(){
		getTopicInfo(topicID);
		getAllComment(topicID);
		getMyComment(topicID);
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /> <a href=\"/student/index\"><img class=\"head\" src=\"/img/字体设计.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/头像.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/头像1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
     function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
     if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";}
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
	function getTopicInfo(id)
	{
		$.ajax({
        type:"GET", //请求方式
        url: "/topic/this/"+id ,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
         $("#heading").html(data.heading);
        $("#content").html("     "+data.content);
        $("#name").html("帖主： "+data.name);
        }
        });
	}
	function goComment()
	{
	if(getCookie("is_operate")==0)
	alert("你没有评论的权限!");
	else
	window.location.href="/student/circleToComment";
	}
	function getAllComment(id)
	{
	$.ajax({
        type:"GET", //请求方式
        url: "/topic/"+id ,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        $.each(data,function(i,item){
                 str=str+"<hr class=\"hr1\" /><div class=\"box1\"><div class=\"circle\"><p class=\"circleNum\">"+(i+1)+"</p></div><div class=\"cicleContent\"><p>"+item.comment.content+"</p></div><div class=\"date1\"><p>"+item.comment.time+"</p></div><img src=\"/img/消息.png\" class=\"img21\"><div class=\"num1\"><p>"+"回复人： "+item.name+"</p></div></div>";
			                          });
	     str=str+"<hr class=\"hr1\" />";
	     $("#all").html(str);
        }
        });
	}
		function getMyComment(id)
	{
	var userID;
	if(getCookie("userID")==null)
	userID=0;
	else
	userID=getCookie("userID");
	$.ajax({
        type:"GET", //请求方式
        url: "/comment/"+id+"/me?user_id="+userID,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        $.each(data,function(i,item){
                 str=str+"<hr class=\"hr1\" /><div class=\"box1\"><div class=\"circle\"><p class=\"circleNum\">"+(i+1)+"</p></div><div class=\"cicleContent\"><p>"+item.comment.content+"</p></div><div class=\"date1\"><p>"+item.comment.time+"</p></div><img src=\"/img/消息.png\" class=\"img21\"><div class=\"num1\"><p>"+"回复人： "+item.name+"</p></div></div>";
			                          });
	     str=str+"<hr class=\"hr1\" />";
	     $("#my").html(str);
	     }
        });
	}
	function goBack()
	{
	if(getCookie("type")==1)
	window.location.href="/student/classContent";
	if(getCookie("type")==2)
	window.location.href="/student/alumniCircle";
	if(getCookie("type")==3)
	window.location.href="/student/message";
	if(getCookie("type")==4)
	window.location.href="/student/myStudy";
	if(getCookie("type")==5)
	window.location.href="/student/mytraining";
	if(getCookie("type")==6)
	window.location.href="/student/classContentTrue";
	}
</script>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/circle.css" />
		<title>帖子详情</title>
	</head>
	<body>
	<div class="container">
		<!--顶部标题栏-->
		<div class="header" id="header">
		</div>
		<!--分隔符-->
		<div class="hr">
		     	
		</div>
		<!--帖子面板-->
		<div class="panel2" id="panel2">
			<p class="pColor" id="heading"></p>
			<p class="pColor1" id="content"></p>
			<p class="pColor1" id="name"></p>
			<button type="button" id="allComment" autofocus="autofocus">全部评论</button>
			<button type="button" id="myComment">我的评论</button>
			<button type="button" id="Comment" onclick="goComment()">发表评论</button>
			<button type="button" id="back" onclick="goBack()">返回上页</button>
			<!--第一篇帖子-->
			<div id="all">
			</div>
			<div id="my">
			</div>
		</div>
		<!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
	    </div>
		</div>
	<script>
		var btn1 = document.getElementById("allComment");
        btn1.onclick =function(){
            document.getElementById('my').style.display='none';
            document.getElementById('all').style.display='block';
        }
        var btn2=document.getElementById("myComment");
        btn2.onclick=function(){
        	document.getElementById('all').style.display='none';
        	document.getElementById('my').style.display='block';
        }
</script>
	</body>
</html>
