<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/classContent.css" />
		<title>课程详情</title>
	</head>
	<body>
		<!--顶部标题栏-->
		<div class="header">
			<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
		        <a  href="myStudy.html" class="nav1">我的学习</a>
		        <a href="message.html" class="nav2">消息</a>
		        <a href="login.html" class="nav3">登录/注册</a>
            <img id="icon" src="img/头像.png" /> 
            <div class="bar1">
                <form>
                    <input type="text" placeholder="请输入您要搜索的内容...">
                    <button type="submit"></button>
                </form>
            </div> 
		</div>
	    <a href="index.html" class="backIndex">首页</a>
	    <a href="classContent.html" class="backIndex">> 课程详情</a>	
	    <!--课程概述-->
	    <div class="classPic">
	        <!--课程封面图片-->
	    	<img src="img/classPic.png" class="Picture"/>
	    	<!--课程相关介绍-->
	    	<div class="classIntroduction">
	    		<p class="title">这里是课程标题</p>
	    		<p class="author">讲师：某某某</p>
	    		<p class="introduction">这里是课程简介巴拉巴拉巴拉巴拉巴拉可以写一堆，和下面介绍不同的地方是这个是总的课程介绍</p>
	    		<!--立即加入按钮-->
	    		<div class="join">
	    		    <button type="submit">立即加入</button>
	    		</div>
	    	</div>
	    	<!--导航栏-->
            <div class="classNavigation">
            	<div class="classbutton">
            	    <button type="button" id="intronBtn" autofocus="autofocus">介绍</button>
            	    <button type="button" id="menuBtn">目录</button>
            	    <button type="button" id="viewBtn">评价</button>
            	</div>
            </div>	    	
	    </div>
	    <!--课程详情-->
	    <div class="secondBox">
	    	<div id="content">
	    		<p>这里是正文部分</p>
	    	</div>
	    	<div id="menu">
	    		<p>目录</p>
	    		<span class="menuContent">这里是一条目录</span>
	    	</div>
	    	<div id="view">
	    		<p>评价详情</p>
	    		<div class="box1">
				<div class="circle">
				   <p class="circleNum">1</p>
				</div>
				<div class="cicleContent">
					<p>帖子内容</p>
				</div>
				<div class="date1">
					<p>2018-03-29</p>
				</div>
			</div>
	    	</div>
	    </div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
			
	    </div>
	<script>
		var btn1 = document.getElementById("menuBtn");  
        btn1.onclick =function(){  
            document.getElementById('view').style.display='none';
            document.getElementById('content').style.display='none';
            document.getElementById('menu').style.display='block';
        }  
        var btn2=document.getElementById("viewBtn");
        btn2.onclick=function(){
        	document.getElementById('content').style.display='none';
        	document.getElementById('menu').style.display='none';
        	document.getElementById('view').style.display='block';
        }
        var btn3 = document.getElementById("intronBtn");  
        btn3.onclick =function(){  
            document.getElementById('menu').style.display='none';
            document.getElementById('view').style.display='none';
            document.getElementById('content').style.display='block';
        }   
	</script>
	</body>
</html>
