<!DOCTYPE html>
<html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script>
        var sum=0;
        var classID;
        var is_choose;
        var courseID=getCookie("courseID");
		window.onload=function(){
		getCourseInfo(courseID);
		getTopic(courseID);
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /><a href=\"/student/index\"><img class=\"head\" src=\"/img/name.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/head.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/head1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
	</script>
<script>
	function getCourseInfo(id)
	{
	var userID;
	if(getCookie("userID")==null)
	userID=0;
	else
	userID=getCookie("userID");
$.ajax({
        type:"GET", //请求方式
        url: "/course/"+id+"?user_id="+userID ,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        async:false,
        dataType: 'json',   //返回值类型
        success:function(data){
         $("#title").html(data.course.name);
         $("#num").html("课程人数： "+data.num);
         $("#author").html("讲师： "+getCookie("teacher_name"));
         $("#introduction").html("课程简介： "+data.course.introduction);
        document.getElementById("picture").src=data.course.picture;
        is_choose=data.is_choose;
        if(data.is_choose==false)
        {
        $("#fg").html();
		$("#menu").html("<p>目录</p><span class=\"menuContent\">还未选课，不能加载目录</span>");
		$.ajax({
        type:"GET", //请求方式
        url: "/course/"+id+"/class?type=1" ,
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
         $.each(data,function(i,item){
         sum=sum+1;
         str=str+"<input type=\"radio\" name=\"choice\" id=\"班级"+(i+1)+"\" value=\""+item.id+"\"/><span class=\"a\">"+item.class_name+"</span>";
			                          });
	     $("#radioP").html(str);
        }
        });
        }
        else if(data.is_choose==true)
        {
        $("#open_btn").html("已加入课程");
        document.getElementById("open_btn").disabled="true";
        $("#fg").html("<button onclick=\"tui()\" type=\"button\" id=\"open_btn1\">退课</button>");
        var str="";
        $.ajax({
        type:"GET", //请求方式
        url: "/course/class/"+id+"?user_id="+getCookie("userID") ,
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        classID=data.class_id;
        str=str+"<p>"+"你已加入"+data.name+"     课程目录</p>";
        }
        });
        $.ajax({
        type:"GET", //请求方式
        url: "/course/"+classID+"/period?user_id="+getCookie("userID") ,
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
         $.each(data,function(i,item){
        str=str+"<div class=\"menuContent\">"+">>>第"+(i+1)+"课时:"+item.knowledge_point+"</div>";
        if(item.ppt!=null)
        str=str+"<div onclick=\"goD('"+item.knowledge_point+"','"+item.ppt+"')\" class=\"topicContent\"><img class=\"img-logo\" src=\"/teacher/img/folder.png\"/><div class=\"dd\"><p>课件</p></div></div>";
        if(item.video!=null)
        str=str+"<div onclick=\"goD('"+item.knowledge_point+"','"+item.video+"')\"  class=\"topicContent\"><img class=\"img-logo\" src=\"/teacher/img/folder.png\"/><div class=\"dd\"><p>视频</p></div></div>";
        $.ajax({
        type:"GET", //请求方式
        url: "/period/"+item.id+"/task?user_id="+getCookie("userID") ,
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        $.each(data,function(i1,item1){
                str=str+"<div onclick=\"goTest("+item1.task_id+",'"+item1.is_finished+"')\" class=\"topicContent\"><img class=\"img-logo\" src=\"/teacher/img/folder.png\"/><div class=\"dd\"><p>"+item1.content+"</p></div></div>";
        });
        }
             });
        });
        }
        });
        $("#menu").html(str);
        }
        str=" ";
        str=str+"<p>"+">>>>教学进度：  "+data.course.teaching_progress+"</p>";
        str=str+"<p>"+"."+"</p>";
        str=str+"<p>"+".."+"</p>";
        str=str+"<p>"+"..."+"</p>";
        str=str+"<p>"+"...."+"</p>";
        str=str+"<p>"+">>>>知识点简介：  "+data.course.knowledge_point+"</p>";
        $("#content").html(str);
        }
        });
	}
	function goTest(id,id1)
	{
	alert("进入任务中...");
	setCookie("taskID",id);
	setCookie("house",1);
	if(id1=="false")
	setCookie("is_finished",0);
	else if(id1=="true")
	setCookie("is_finished",1);
	window.location.href="/student/task";
	}
	function tui()
	{
	    $.ajax({
        type:"DELETE", //请求方式
        url: "/course/"+classID+"/drop?user_id="+getCookie("userID") ,
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        alert("你已退出该课程！");
        window.location.href="/student/classContentTrue";
        }
        });
	}
	function goD(id,id1)
	{
	setCookie("display",id1);
	setCookie("content",id);
	window.location.href="/student/classDetails";
	}
</script>
<script>
	function getTopic(id)
	{
$.ajax({
        type:"GET", //请求方式
        url: "/topic1/1/"+id ,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        str=str+"<img src=\"/img/topic.png\" class=\"img1\" /><button type=\"button\" id=\"card\" onclick=\"putTopic()\">发帖</button>";
         $.each(data,function(i,item){
        str=str+"<hr class=\"hr1\"><div class=\"box1\"><div class=\"circle\"><p class=\"circleNum\">"+item.no+"</p></div><a onclick=\"goTopic("+item.topic_id+",'"+item.heading+"','"+item.content+"','"+item.name+"')\" class=\"cicleTitle\">"+item.heading+"</a><div class=\"cicleContent\"><p>"+item.content+"</p></div><div class=\"date\"><p>"+item.time+"</p></div><a onclick=\"goComment("+item.topic_id+")\"><img src=\"/img/comment.png\" class=\"img2\"></a><div class=\"num\"><p>"+item.comment_num+"</p></div><div class=\"num1\"><p>帖子发起人:"+item.name+"</p></div></div>";
			                          });
		str=str+"<hr class=\"hr1\">";
	     $("#view").html(str);
        }
        });
	}
</script>
<script>
   function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
      if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";}
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
    function putTopic()
	{
	if(is_choose==false)
	alert("你还未加入课程不能发帖！");
	else
	{
	  setCookie("type",1);
	  window.location.href="/student/circleToPut";
	  }
	}
	function goTopic(id,heading,content,name)
	{
	if(is_choose==false)
	setCookie("is_operate",0);
	else
	setCookie("is_operate",1);
	setCookie("topicID",id);
	setCookie("type",6);
	window.location.href="/student/circleComment";
	}
	function goComment(id)
	{
	if(is_choose==false)
	alert("你还未加入课程不能评论！");
	else
	{
	  setCookie("type",6);
	  setCookie("topicID",id);
      window.location.href="/student/circleToComment";
     }
	}
	function goBack()
	{
		if(getCookie("road")==1)
	window.location.href="/student/myStudy";
	if(getCookie("road")==2)
	window.location.href="/student/schoolIndex";
	if(getCookie("road")==3)
	window.location.href="/student/teacher";
	}
</script>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/classContent.css" />
	<title>课程详情</title>
</head>
<body>
<div id="container">
<!--顶部标题栏-->
<div id="header" class="header">
</div>
<a onclick="goBack()" class="backIndex">返回上一页</a>
<!--课程概述-->
<div class="classPic">
	<!--课程封面图片-->
	<img class="Picture" id="picture"/>
	<!--课程相关介绍-->
	<div class="classIntroduction">
		<p class="title" id="title"></p>
		<p class="author" id="author"></p>
		<p class="author" id="num"></p>
		<p class="author" id="introduction"></p>
		<!--立即加入按钮-->
		<div class="join" id="join">
			<button type="button" id="open_btn">立即加入</button>
		</div>
		<div class="fg" id="fg">
		</div>
	</div>
	<!--导航栏-->
	<div class="classNavigation">
		<div class="classbutton">
			<button type="button" id="intronBtn" autofocus="autofocus">介绍</button>
			<button type="button" id="menuBtn">目录</button>
			<button type="button" id="viewBtn">评价</button>
		</div>
	</div>
</div>
<!--课程详情-->
<div class="secondBox">
	<div id="content">
	</div>
	<div id="menu">
	</div>
	<!--帖子面板-->
	<div class="panel1" id="view">
		<!--第一篇帖子-->
	</div>

</div>
<!--页脚-->
<div class="footer">
	<img class="img-logo" src="/img/logo.png" />
	<img class="head" src="/img/name.png" />
	<div class="introduction">
		<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
	</div>
</div>
</div>
<!-- 弹窗内容开始 -->
<div id="background" class="back">
	<div id="div1" class="content">
		<div id="close">
			<span id="close-button">×</span>
		</div>
		<div id="div2">
			<h3 class="tan">请选择班级：</h3>
			<label class="radioP" id="radioP">
			</label>
			<div class="we">
				<button type="button" id="imSure" onclick="choose()">确定</button>
			</div>
		</div>
		<!--<h3 id="foot">底部内容</h3>-->
	</div>
</div>
<script>
        function choose()
        {
var j=0
for (var i=1;i<=sum;i++){
 if(document.getElementById("班级"+i).checked){
   j=i;
 }
}
if(getCookie("identification")!=2)
alert("只有学生才能选课！");
else if(j==0){
alert("还未选择班级！！！")
}
else
{
var classID=document.getElementById("班级"+j).value;
$.ajax({
        type:"POST", //请求方式
        url: "/course/"+classID+"/choose?user_id="+getCookie("userID"),
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        alert("选课成功！");
        window.location.href="/student/classContentTrue";
        }
        });
}
        }
		var btn1 = document.getElementById("menuBtn");
        btn1.onclick =function(){
            document.getElementById('view').style.display='none';
            document.getElementById('content').style.display='none';
            document.getElementById('menu').style.display='block';
        }
        var btn2=document.getElementById("viewBtn");
        btn2.onclick=function(){
        	document.getElementById('content').style.display='none';
        	document.getElementById('menu').style.display='none';
        	document.getElementById('view').style.display='block';
        }
        var btn3 = document.getElementById("intronBtn");
        btn3.onclick =function(){
            document.getElementById('menu').style.display='none';
            document.getElementById('view').style.display='none';
            document.getElementById('content').style.display='block';
        }
        var btn4 = document.getElementById("open_btn");
        var div = document.getElementById("background");
        var close = document.getElementById("close-button");
    btn4.onclick = function show() {
	     div.style.display = "block";
   }
   close.onclick = function close() {
	div.style.display = "none";
 }
window.onclick = function close(e) {
	if (e.target == div) {
		div.style.display = "none";
	}
}
</script>
</body>
</html>
