<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" />
		<title>课程详情</title>
	</head>
	<body>
<div class="container">
		<!--顶部标题栏-->
		<div class="header">
			<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/字体设计.png" />
		        <a  href="myStudy.html" class="nav1">我的学习</a>
		        <a href="message.html" class="nav2">消息</a>
		        <a href="login.html" class="nav3">登录/注册</a>
            <img id="icon" src="/img/头像.png" />
		</div>
	    <!--面板-->
	    <div class="classPanel">
	    	<!--课程题目-->
	    	<div class="deTitle">
	    		<h2>课程题目</h2>
	    		<p>讲师：某某某</p>
	    	</div>
	    	<!--视频播放区-->
	    	<div class="deVideo">
	    		
	    	</div>
	    	<!--知识点介绍-->
	    	<div class="deKnowledge">
	    		<p>课程要掌握的知识点等</p>
	    		<!--要求掌握的知识点-->
	    		<div id="deknowledgeT">
	    			<p>1.知识点1g</p>
	    		</div>
	    	</div>
	    	<!--实训任务-->
	    	<div class="deTraining">
	    		<p>实训任务 </p>
	    		<div id="deTrainingT">
	    			<p>1.实训任务1</p>
	    		</div>
	    	</div>
	    	<!--任务列表-->
	    	<div class="deMission">
	    		<p>任务</p>
	    		<div id="deMissionT">
	    			<p>1.任务1</p>
	    		</div>
	    	</div>
	    </div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
	    </div>
</div>
	</body>
</html>
