<!DOCTYPE html>
<html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script>
        var courseID=getCookie("courseID");
		window.onload=function(){
		getCourseInfo(courseID);
		getTopic(courseID);
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /><a href=\"/student/index\"><img class=\"head\" src=\"/img/name.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/head.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/head1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
        alert("这是预览课程界面，请到自己学校主页下进行选课！");
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
	</script>
<script>
	function getCourseInfo(id)
	{
	var userID;
	if(getCookie("userID")==null)
	userID=0;
	else
	userID=getCookie("userID");
$.ajax({
        type:"GET", //请求方式
        url: "/course/"+id+"?user_id="+userID ,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
         $("#title").html(data.course.name);
         $("#num").html("课程人数： "+data.num);
         $("#author").html("讲师： "+getCookie("teacher_name"));
         $("#introduction").html("课程简介： "+data.course.introduction);
        document.getElementById("picture").src=data.course.picture;
        str=" ";
        str=str+"<p>"+">>>>教学进度：  "+data.course.teaching_progress+"</p>";
        str=str+"<p>"+"."+"</p>";
        str=str+"<p>"+".."+"</p>";
        str=str+"<p>"+"..."+"</p>";
        str=str+"<p>"+"...."+"</p>";
        str=str+"<p>"+">>>>知识点简介：  "+data.course.knowledge_point+"</p>";
        $("#content").html(str);
        }
        });
	}
</script>
<script>
	function getTopic(id)
	{
$.ajax({
        type:"GET", //请求方式
        url: "/topic1/1/"+id ,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        str=str+"<img src=\"/img/topic.png\" class=\"img1\" /><button type=\"button\" id=\"card\" onclick=\"putTopic()\">发帖</button>";
         $.each(data,function(i,item){
        str=str+"<hr class=\"hr1\"><div class=\"box1\"><div class=\"circle\"><p class=\"circleNum\">"+item.no+"</p></div><a onclick=\"goTopic("+item.topic_id+",'"+item.heading+"','"+item.content+"','"+item.name+"')\" class=\"cicleTitle\">"+item.heading+"</a><div class=\"cicleContent\"><p>"+item.content+"</p></div><div class=\"date\"><p>"+item.time+"</p></div><a onclick=\"goComment()\"><img src=\"/img/comment.png\" class=\"img2\"></a><div class=\"num\"><p>"+item.comment_num+"</p></div><div class=\"num1\"><p>帖子发起人:"+item.name+"</p></div></div>";
			                          });
		str=str+"<hr class=\"hr1\">";
	     $("#view").html(str);
        }
        });
	}
</script>
<script>
   function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
      if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";}
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
	function putTopic()
	{
	alert("未加入课程，不能进行操作！");
	}
	function goTopic(id,heading,content,name)
	{
	setCookie("is_operate",0);
	setCookie("topicID",id);
	setCookie("type",1);
	window.location.href="/student/circleComment";
	}
	function goComment()
	{
	alert("未加入课程，不能进行操作！");
	}
	function goBack()
	{
	if(getCookie("path")==1)
	window.location.href="/student/index";
	if(getCookie("path")==2)
	window.location.href="/student/schoolIndex";
	if(getCookie("path")==3)
	window.location.href="/student/teacher";
	}
</script>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/classContent.css" />
		<title>课程详情</title>
	</head>
	<body>
		<!--顶部标题栏-->
		<div id="header" class="header">
		</div>
	    <a onclick="goBack()" class="backIndex">返回上一页</a>
	    <!--课程概述-->
	    <div class="classPic">
	        <!--课程封面图片-->
	    	<img class="Picture" id="picture"/>
	    	<!--课程相关介绍-->
	    	<div class="classIntroduction">
	    		<p class="title" id="title"></p>
	    		<p class="author" id="author"></p>
				<p class="author" id="num"></p>
	    		<p class="author" id="introduction"></p>
	    		<!--立即加入按钮-->
	    	</div>
	    	<!--导航栏-->
            <div class="classNavigation">
            	<div class="classbutton">
            	    <button type="button" id="intronBtn" autofocus="autofocus">介绍</button>
            	    <button type="button" id="menuBtn">目录</button>
            	    <button type="button" id="viewBtn">评价</button>
            	</div>
            </div>	    	
	    </div>
	    <!--课程详情-->
	    <div class="secondBox">
	    	<div id="content">
	    	</div>
	    	<div id="menu">
	    		<p>目录</p>
	    		<span class="menuContent">这是预览课程界面，不能加载目录</span>
	    	</div>
			<!--帖子面板-->
			<div class="panel1" id="view">
				<!--第一篇帖子-->
			</div>

	    </div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/name.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
			
	    </div>
	<script>
		var btn1 = document.getElementById("menuBtn");  
        btn1.onclick =function(){  
            document.getElementById('view').style.display='none';
            document.getElementById('content').style.display='none';
            document.getElementById('menu').style.display='block';
        }  
        var btn2=document.getElementById("viewBtn");
        btn2.onclick=function(){
        	document.getElementById('content').style.display='none';
        	document.getElementById('menu').style.display='none';
        	document.getElementById('view').style.display='block';
        }
        var btn3 = document.getElementById("intronBtn");  
        btn3.onclick =function(){  
            document.getElementById('menu').style.display='none';
            document.getElementById('view').style.display='none';
            document.getElementById('content').style.display='block';
        }   
	</script>
	</body>
</html>
