<!DOCTYPE html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script>
		window.onload=function(){
		$("#name").html("#课时："+getCookie("content"));
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /> <a href=\"/student/index\"><img class=\"head\" src=\"/img/字体设计.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/头像.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/头像1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
     function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
      if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";}
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
	function goBack()
	{
	alert("返回课程");
	window.location.href="/student/classContentTrue";
	}
</script>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" />
		<title>课程详情</title>
	</head>
	<body>
<div class="container">
		<!--顶部标题栏-->
		<div class="header" id="header">
		</div>
	    <!--面板-->
	    <div class="classPanel">
	    	<!--课程题目-->
	    	<div class="deTitle">
	    		<h2 id="name"></h2>
	    		<p>视频/课件展示</p>
				<button id="kk" onclick="goBack()">返回课程</button>
	    	</div>
	    	<!--视频播放区-->
	    	<div class="deVideo">
	    		
	    	</div>
	    </div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
	    </div>
</div>
	</body>
</html>
