<!DOCTYPE html>
<html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script>
var userID=getCookie("userID");
		window.onload=function(){
		document.getElementById('mystudyMission').style.display='none';
        document.getElementById('mystudyTraining').style.display='none';
        document.getElementById('mystudyMistake').style.display='none';
        document.getElementById('mystudyCicle').style.display='none';
        document.getElementById('mystudyAbility').style.display='none';
        document.getElementById('myStudyClass').style.display='block';
        document.getElementById('end').style.display='none';
        document.getElementById('now').style.display='none';
        document.getElementById('all').style.display='block';
        document.getElementById('end1').style.display='none';
        document.getElementById('now1').style.display='none';
        document.getElementById('all1').style.display='block';
        document.getElementById('comment').style.display='none';
        document.getElementById('topic').style.display='block';
        getMyClass(userID);
        getMyTask(userID);
        getMyTraining(userID);
        getMyMistake(userID);
        getMyCircle(userID);
        getMyAbility(userID);
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /> <a href=\"/student/index\"><img class=\"head\" src=\"/img/字体设计.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/头像.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/头像1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
     function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
      if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";}
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
	function getMyClass(id)
	{
	$.ajax({
        type:"GET", //请求方式
        url: "/course/student?user_id="+id,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        str1="";
        str2="";
        $.each(data,function(i,item){
        str=str+"<div onclick=\"goClass("+item.course_id+","+item.class_id+",'"+item.teacher_name+"')\" class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"> <span class=\"subHeader\">"+item.teacher_name+"</span></div><div class=\"state\"><p>"+item.replay+"</p></div></div>";
        if(item.is_end==false)
        str1=str1+"<div onclick=\"goClass("+item.course_id+","+item.class_id+",'"+item.teacher_name+"')\" class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"> <span class=\"subHeader\">"+item.teacher_name+"</span></div><div class=\"state\"><p>"+item.replay+"</p></div></div>";
                if(item.is_end==true)
        str2=str2+"<div onclick=\"goClass("+item.course_id+","+item.class_id+",'"+item.teacher_name+"')\" class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"> <span class=\"subHeader\">"+item.teacher_name+"</span></div><div class=\"state\"><p>"+item.replay+"</p></div></div>";
			                          });
	     $("#all").html(str);
	     $("#now").html(str1);
	     $("#end").html(str2);
	     }
        });
	}
	function goClass(id,id1,id2)
	{
	setCookie("courseID",id);
	setCookie("classID",id1);
	setCookie("teacher_name",id2);
	setCookie("road",1);
	window.location.href="/student/classContentTrue";
	}
</script>
<script>
	function getMyTask(id)
	{
	  var str="";
	  var str1="";
      var  str2="";
	$.ajax({
        type:"GET", //请求方式
        url: "/course/student?user_id="+id,
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        $.each(data,function(i,item){
        str=str+"<div class=\"mystudyMissionP\"><div class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"><span class=\"subHeader\">"+item.teacher_name+"</span></div></div><div class=\"mystudyMissionPa\">";
        str1=str1+"<div class=\"mystudyMissionP\"><div class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"><span class=\"subHeader\">"+item.teacher_name+"</span></div></div><div class=\"mystudyMissionPa\">";
        str2=str2+"<div class=\"mystudyMissionP\"><div class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"><span class=\"subHeader\">"+item.teacher_name+"</span></div></div><div class=\"mystudyMissionPa\">";
$.ajax({
        type:"GET", //请求方式
        url: "/course/"+item.class_id+"/task?user_id="+id,
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data1){
        $.each(data1,function(i1,item1){
               str=str+"<div onclick=\"goTask("+item1.task_id+",'"+item1.is_finished+"')\" class=\"mystudyMissionPe\">"+item1.content+"</div>";
               if(item1.is_finished==false)
               str1=str1+"<div onclick=\"goTask("+item1.task_id+",'"+item1.is_finished+"')\" class=\"mystudyMissionPe\">"+item1.content+"</div>";
               if(item1.is_finished==true)
               str2=str2+"<div onclick=\"goTask("+item1.task_id+",'"+item1.is_finished+"')\" class=\"mystudyMissionPe\">"+item1.content+"</div>";
			           });
	           }
              });
        str=str+"</div></div>";
        str1=str1+"</div></div>";
        str2=str2+"</div></div>";
        });
        $("#all1").html(str);
	    $("#now1").html(str1);
	    $("#end1").html(str2);
	    }
	    });
	}
	function goTask(id,id1)
	{
    alert("进入任务中...");
	setCookie("taskID",id);
	setCookie("house",2);
	if(id1=="false")
	setCookie("is_finished",0);
	else if(id1=="true")
	setCookie("is_finished",1);
	window.location.href="/student/task";
	}
</script>
<script>
	function getMyTraining(id)
	{
	var str="";
	$.ajax({
        type:"GET", //请求方式
        url: "/course/student?user_id="+id,
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        $.each(data,function(i,item){
        str=str+"<div class=\"mystudyMissionP\"><div class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"><span class=\"subHeader\">"+item.teacher_name+"</span></div></div><div class=\"mystudyMissionPa\">";
    $.ajax({
        type:"GET", //请求方式
        url: "/training/course/"+item.course_id,
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data1){
        $.each(data1,function(i1,item1){
               str=str+"<div onclick=\"goTraining("+item1.id+")\" class=\"mystudyMissionPe\">"+"实训"+(i1+1)+"   "+item1.traing_introduction+"</div>";
			           });
	           }
              });
        str=str+"</div></div>";
        });
        $("#tr").html(str);
	    }
	    });
	}
	function goTraining(id)
	{
	setCookie("trainingID",id);
	window.location.href="/student/mytraining";
	}
</script>
<script>
	function getMyMistake(id)
	{
var str="";
	$.ajax({
        type:"GET", //请求方式
        url: "/course/student?user_id="+id,
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        $.each(data,function(i,item){
        str=str+"<div class=\"mystudyMissionP\"><div class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"><span class=\"subHeader\">"+item.teacher_name+"</span></div></div><div class=\"mystudyMissionPa\">";
    $.ajax({
        type:"GET", //请求方式
        url: "/course/"+item.course_id+"/error?user_id="+id,
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data1){
        $.each(data1,function(i1,item1){
               str=str+"<div class=\"mystudyMissionPe\">"+"错题"+(i1+1)+"."+item1.heading+"            >>>>>>>>你的答案： "+item1.wrong_answer+"       正确答案： "+item1.answer+"</div>";
               str=str+"<div class=\"mystudyMissionPe\">"+"A."+item1.a+"         B."+item1.b+"</div>";
               str=str+"<div class=\"mystudyMissionPe\">"+"C."+item1.c+"         D."+item1.d+"</div>";
			           });
	           }
              });
        str=str+"</div></div>";
        });
        $("#mi").html(str);
	    }
	    });
	}
</script>
<script>
	function getMyCircle(id)
	{
	$.ajax({
        type:"GET", //请求方式
        url: "/topic?user_id="+id,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        $.each(data,function(i,item){
          str=str+"<span onclick=\"goTopic("+item.id+")\" class=\"mycircletitle\">"+(i+1)+".你的帖子：    "+item.heading+"</span>";
			                          });
	     $("#topic").html(str);
	     }
        });
        $.ajax({
        type:"GET", //请求方式
        url: "/comment?user_id="+id,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        $.each(data,function(i,item){
          str=str+"<span onclick=\"goTopic("+item.comment.topic_id+")\"class=\"mycircletitle\">"+(i+1)+".你的评论：    "+item.comment.content+"</span>";
			                          });
	     $("#comment").html(str);
	     }
        });
	}
	function goTopic(id)
	{
	setCookie("is_operate","yes");
	setCookie("topicID",id);
	setCookie("type",4);
	window.location.href="/student/circleComment";
	}
</script>
<script>
	function getMyAbility(id)
	{
		$.ajax({
        type:"GET", //请求方式
        url: "/ability/"+id,
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        $.each(data,function(i,item){
                 $.ajax({
        type:"GET", //请求方式
        url: "/course/"+item.course_id+"?user_id="+id,
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data1){
                str=str+"<div class=\"ability1\"><div class=\"class1\"><img class=\"classPicture\" src=\""+data1.course.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+data1.course.name+"</span></div></div><div class=\"teacher-point\"><p>老师：</p><span class=\"teacher-name\">"+data1.name+"</span>";
	     }
        });
        str=str+"<p class=\"teacher-date\">时间：</p><span class=\"point-date\">"+item.time+"</span><div class=\"teacher-content\">"+item.comment+"</div></div></div>";
			                          });
	     $("#mystudyAbility").html(str);
	     }
        });
	}
</script>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" />
		<title>我的学习</title>
	</head>
	<body>
	<div class="container">
		<!--顶部标题栏-->
		<div class="header" id="header">
		</div>
		<!--我的学习背景-->
		<div class="myBg">
			<img src="/img/头像.png" class="myImg" />
			<h2 class="myh1">学习本无底，前进莫徬徨</h2>
			<p class="morning">早上好！</p>
		</div>
		<!--导航栏-->
		<div class="navigation">
			<button type="button" id="myClass" autofocus="autofocus">我的课程</button>
			<button type="button" id="myMission">我的任务</button>
			<button type="button" id="myTraining">我的实训</button>
			<button type="button" id="myMistake">错题回顾</button>
			<button type="button" id="myCircle">我的圈子</button>
			<button type="button" id="myCapacity">能力档案</button>
		</div>
	    <!--第一行-->
		<div class="myPanel">
			<div id="myStudyClass">
				<button type="button" id="myStudyAllClass" autofocus="autofocus">全部</button>
				<button type="button" id="myStudyBeing" >进行中</button>
				<button type="button" id="myStudyEnd" >已结束</button>
			<div class="mystudyClasses">
				<div id="all"></div>
				<div id="now"></div>
				<div id="end"></div>
			</div>
			</div>

		    <div id="mystudyMission">
		    	<button type="button" class="myStudyAllMission" id="myStudyAllMission" autofocus="autofocus">全部</button>
				<button type="button" class="myStudyAllMission" id="myStudyAllBeing">进行中</button>
				<button type="button" class="myStudyAllMission" id="myStudyAllEnd">已完成</button>
				<div id="all1"></div>
				<div id="now1"></div>
				<div id="end1"></div>
		    </div>

		    <div id="mystudyTraining">
		    	<button type="button" id="myStudyAlltraining">全部实训</button>
				<div id="tr"></div>
		    </div>

		    <div id="mystudyMistake">
		    	<button type="button" id="myStudyAllMistake">全部错题</button>
				<div id="mi"></div>
		    </div>

		    <div id="mystudyCicle">
		    	<button type="button" id="myStudytOPIC" autofocus="autofocus">我的话题</button>
		    	<button type="button" id="myStudycomment">我的评论</button>
				<div id="topic">
				</div>
				<div id="comment"></div>
		    </div>

		   <div id="mystudyAbility">
		   </div>
		</div>
        
		<!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
	    </div>
	</div>
		<script>
		var btn1 = document.getElementById("myClass");  
        btn1.onclick =function(){  
            document.getElementById('mystudyMission').style.display='none';
            document.getElementById('mystudyTraining').style.display='none';
            document.getElementById('mystudyMistake').style.display='none';
            document.getElementById('mystudyCicle').style.display='none';
            document.getElementById('myStudyClass').style.display='block';
            document.getElementById('mystudyAbility').style.display='none';
        }  
        var btn2=document.getElementById("myMission");
        btn2.onclick=function(){
        	document.getElementById('myStudyClass').style.display='none';
        	document.getElementById('mystudyTraining').style.display='none';
        	document.getElementById('mystudyMistake').style.display='none';
        	document.getElementById('mystudyCicle').style.display='none';
        	document.getElementById('mystudyMission').style.display='block';
        	document.getElementById('mystudyAbility').style.display='none';
        }
        var btn3=document.getElementById("myTraining");
        btn3.onclick=function(){
        	document.getElementById('myStudyClass').style.display='none';
        	document.getElementById('mystudyMission').style.display='none';
        	document.getElementById('mystudyMistake').style.display='none';
        	document.getElementById('mystudyCicle').style.display='none';
        	document.getElementById('mystudyTraining').style.display='block';
        	document.getElementById('mystudyAbility').style.display='none';
        }
        var btn4=document.getElementById("myMistake");
        btn4.onclick=function(){
        	document.getElementById('myStudyClass').style.display='none';
        	document.getElementById('mystudyMission').style.display='none';
        	document.getElementById('mystudyMistake').style.display='block';
        	document.getElementById('mystudyCicle').style.display='none';
        	document.getElementById('mystudyTraining').style.display='none';
        	document.getElementById('mystudyAbility').style.display='none';
        }
        var btn5=document.getElementById("myCircle");
        btn5.onclick=function(){
        	document.getElementById('myStudyClass').style.display='none';
        	document.getElementById('mystudyMission').style.display='none';
        	document.getElementById('mystudyMistake').style.display='none';
        	document.getElementById('mystudyCicle').style.display='block';
        	document.getElementById('mystudyTraining').style.display='none';
        	document.getElementById('mystudyAbility').style.display='none';
        }
        var btn6=document.getElementById("myCapacity");
        btn6.onclick=function(){
        	document.getElementById('myStudyClass').style.display='none';
        	document.getElementById('mystudyMission').style.display='none';
        	document.getElementById('mystudyMistake').style.display='none';
        	document.getElementById('mystudyCicle').style.display='none';
        	document.getElementById('mystudyTraining').style.display='none';
        	document.getElementById('mystudyAbility').style.display='block';
        }
	</script>
	<script>
		var btn1 = document.getElementById("myStudyAllClass");
        btn1.onclick =function(){
        document.getElementById('end').style.display='none';
            document.getElementById('now').style.display='none';
            document.getElementById('all').style.display='block';
        }
        var btn2=document.getElementById("myStudyBeing");
        btn2.onclick=function(){
        document.getElementById('end').style.display='none';
        	document.getElementById('all').style.display='none';
        	document.getElementById('now').style.display='block';
        }
        var btn3=document.getElementById("myStudyEnd");
        btn3.onclick=function(){
        document.getElementById('now').style.display='none';
        	document.getElementById('all').style.display='none';
        	document.getElementById('end').style.display='block';
        }
</script>
	<script>
		var btn1 = document.getElementById("myStudyAllMission");
        btn1.onclick =function(){
        document.getElementById('end1').style.display='none';
            document.getElementById('now1').style.display='none';
            document.getElementById('all1').style.display='block';
        }
        var btn2=document.getElementById("myStudyAllBeing");
        btn2.onclick=function(){
        document.getElementById('end1').style.display='none';
        	document.getElementById('all1').style.display='none';
        	document.getElementById('now1').style.display='block';
        }
        var btn3=document.getElementById("myStudyAllEnd");
        btn3.onclick=function(){
        document.getElementById('now1').style.display='none';
        	document.getElementById('all1').style.display='none';
        	document.getElementById('end1').style.display='block';
        }
</script>
	<script>
		var btn1 = document.getElementById("myStudytOPIC");
        btn1.onclick =function(){
        document.getElementById('comment').style.display='none';
            document.getElementById('topic').style.display='block';
        }
        var btn2=document.getElementById("myStudycomment");
        btn2.onclick=function(){
        document.getElementById('topic').style.display='none';
        	document.getElementById('comment').style.display='block';
        }
</script>
	</body>
</html>
