<!DOCTYPE html>
<html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script>
var start_time=new Date();
var end_time=new Date();
var taskID=getCookie("taskID");
		window.onload=function(){
		getTask(taskID);
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /> <a href=\"/student/index\"><img class=\"head\" src=\"/img/字体设计.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/头像.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/头像1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
     function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
      if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";}
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
	function getTask(id)
	{
        $.ajax({
        type:"GET", //请求方式
        url: "/task/"+id+"/info",
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        setCookie("taskName",data.name);
        $("#name").html(data.name);
        $("#type").html("任务类型： "+data.type);
        $("#start").html("开始时间：  "+data.start_time);
        $("#end").html("结束时间：  "+data.end_time);
        $("#info").html("任务介绍：  "+data.information);
        start_time=new Date(data.start_time);
        end_time=new Date(data.end_time);
        	$.ajax({
        type:"GET", //请求方式
        url: "/task/"+id+"/judge?user_id="+getCookie("userID"),
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        if(data==false)
        {$("#question").html("<button class=\"testButton\" onclick=\"start1()\">开始答题</button>");
        setCookie("nlk",0);
        }
        else  if(data==true)
        {$("#question").html("<button class=\"testButton\" onclick=\"start2()\">查看答题</button>");
        setCookie("nlk",1);
        }
        }
        });
        }
        });
	}
	function start1()
	{
	var myDate = new Date();
	if(start_time>myDate)
	alert("任务还未开始！");
	else if(end_time<myDate)
	alert("任务已经结束！");
	else
	{
	alert("即将进行答题！");
	window.location.href="/student/finishTraining";
	}
	}
	function start2()
	{
	  window.location.href="/student/finishTraining";
	}
</script>
<script>
	function goBack()
	{
	if(getCookie("house")==1)
	window.location.href="/student/classContentTrue";
	if(getCookie("house")==2)
	window.location.href="/student/myStudy";
	}
</script>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" />
		<title>课程详情</title>
	</head>
	<body>
<div class="container">
		<!--顶部标题栏-->
		<div class="header" id="header">
		</div>
	    <!--面板-->
	    <div class="taskPanel">
	    	<!--课程题目-->
	    	<div class="deTitle">
	    		<h2 id="name"></h2>
	    		<p id="type"></p>
	    	</div>
	    	<!--知识点介绍-->
	    	<div class="de">
	    		<div id="deknowledgeT">
	    			<p id="start"></p>
					<p id="end"></p>
					<p id="info"></p>
	    		</div>
	    	</div>
			<div id="question">
			</div>
			<button id="backButton" onclick="goBack()">返回上页</button>
	    </div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
	    </div>
</div>
	</body>
</html>
