<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css" />
		<title>教师</title>
	</head>
	<body>
<div class="container">
	<!--顶部标题栏-->
	<div class="header">
		<img class="img-logo" src="img/logo.png" />
		<img class="head" src="img/字体设计.png" />
		    <a  href="myStudy.html" class="nav1">我的学习</a>
		    <a href="message.html" class="nav2">消息</a>
		    <a href="login.html" class="nav3">登录/注册</a>
		<img id="icon" src="img/头像.png" />
	</div>
	<!--教师头像-->
	<img src="img/classPic.png" class="teacherImg" />
	<div class="teaName">
		<p>蒋某</p>
		<p>副教授</p>
	</div>
	<!--导航-->
	<div class="navigation">
		<span class="teaClass">全部课程</span>
		<button id="moreBtn">更多</button>
	</div>
	<!--课程列表第一行-->
	<div id="classViewPanel1">
		<div class="tea-row1">
	    <div class="class1">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html">一起学习吧</a>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	    
	    <div class="class2">
	    	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	    
	    <div class="class3">
	     	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	     
	    <div class="class4">
	     	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	    
	    <div class="class5">
	     	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	 </div>
	    <!--  课程列表第二行-->
	    <div class="tea-row2">
	    <!--课程列表-->
	    <div class="class1">
	    	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	    
	    <div class="class2">
	    	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	    
	    <div class="class3">
	     	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	     
	    <div class="class4">
	     	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	    
	    <div class="class5">
	     	<img class="classPicture" src="img/logo.png"  />
	    	<div class="classHeader">
	    		<p>一起学习吧</p>
	    	</div>
	    	<div class="subHeader">
	    		<p>讲师某某某</p>
	    	</div>
	    </div>
	  </div>
	  </div>
	   <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
	    </div>
</div>
	</body>
</html>
