<!DOCTYPE html>
<html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script>
var start_time=new Date();
var end_time=new Date();
var taskID=getCookie("taskID");
		window.onload=function(){
		getTask(taskID);
		getQuestion(taskID);
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /> <a href=\"/student/index\"><img class=\"head\" src=\"/img/name.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/head.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/head1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
     function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
      if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";}
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
	function getTask(id)
	{
        $.ajax({
        type:"GET", //请求方式
        url: "/task/"+id+"/info",
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        setCookie("taskName",data.name);
        $("#name").html(data.name);
        $("#type").html("任务类型： "+data.type);
        $("#start").html("开始时间：  "+data.start_time);
        $("#end").html("结束时间：  "+data.end_time);
        $("#info").html("任务介绍：  "+data.information);
        start_time=new Date(data.start_time);
        end_time=new Date(data.end_time);
        }
        });
	}
</script>
<script>
	function getQuestion(id)
	{
		str="";
	$.ajax({
        type:"GET", //请求方式
        url: "/task/"+id+"/question",
        async:false,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        $.each(data,function(i,item){
         str=str+"<div class=\"test\"><div class=\"as\"><span class=\"testTitle\">"+(i+1)+"."+item.heading+"</span></div><label><input type=\"radio\" name=\""+item.id+"\" value=\""+item.answer+"\" id=\""+(i+1)+".1"+"\"/><span class=\"A\">"+item.a+"</span><input type=\"radio\" name=\""+item.id+"\" value=\""+item.answer+"\" id=\""+(i+1)+".2"+"\"/><span class=\"A\">"+item.b+"</span><input type=\"radio\" name=\""+item.id+"\" value=\""+item.answer+"\" id=\""+(i+1)+".3"+"\"/><span class=\"A\">"+item.c+"</span><input type=\"radio\" name=\""+item.id+"\" value=\""+item.answer+"\" id=\""+(i+1)+".4"+"\"/><span class=\"A\">"+item.d+"</span></label></div>";
        });
        str=str+"<button class=\"testButton\" onclick=\"start1()\">新建题目</button>";
$("#question").html(str);
        }
        });
	}
	function start1()
	{
	var myDate = new Date();
	if(start_time<myDate)
	{
	alert("任务已经开始，不能新建题目！");
	}
	else
	{
	str="";
	str=str+"<div class=\"test6\"><div class=\"as\"><p>请填写题目内容,选项及正确答案</p><input class=\"testTitle\" id=\"heading\"></input></div><div class=\"cir\"><span >   A.</span><input type=\"text\" class=\"A6\" id=\"A1\"></input></div><div class=\"cir\"><span >   B.</span><input type=\"text\" class=\"A6\" id=\"B1\"></input></div><div class=\"cir\"><span >   C.</span><input type=\"text\" class=\"A6\" id=\"C1\"></input></div><div class=\"cir\"><span >   D.</span><input type=\"text\" class=\"A6\" id=\"D1\"></input></div><div class=\"cir\"><span >正确选项</span><select id=\"sex\" class=\"sex1\"><option id=\"A\" selected>A</option><option id=\"B\" >B</option><option id=\"C\" >C</option><option id=\"D\" >D</option></select></div><div class=\"cir\"> <button class=\"yu\" onclick=\"newQ()\">确定新建</button><button class=\"yu\" onclick=\"goThere()\">取消新建</button></div></div>";
	$("#question").html(str);
	}
	}
	function goThere()
	{
	alert("取消新建！");
	window.location.href="/student/teacherViewTask";
	}
	function newQ()
	{
	var obj=document.getElementById("sex");
	var bind={
    "heading": $('#heading').val() ,
    "a":$('#A1').val(),
    "b":$('#B1').val(),
    "c":$('#C1').val(),
    "d":$('#D1').val(),
    "answer":obj.options[obj.selectedIndex].text,
     "task_id":taskID
    }
$.ajax({
        type:"POST", //请求方式
        url: "/task/question",
        contentType :"application/json",
        data:JSON.stringify(bind),
        dataType: 'json',   //返回值类型
         success:function(data){
         },
          error:function(data){
         }
         });
         alert("新建题目成功！");
         window.location.href="/student/teacherViewTask";
	}
</script>
<script>
	function goBack()
	{
	window.location.href="/student/teacherClassContent";
	}
</script>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" />
		<title>课程详情</title>
	</head>
	<body>
<div class="container">
		<!--顶部标题栏-->
		<div class="header" id="header">
		</div>
	    <!--面板-->
	    <div class="taskPanel6">
	    	<!--课程题目-->
	    	<div class="deTitle">
	    		<h2 id="name"></h2>
	    		<p id="type"></p>
	    	</div>
	    	<!--知识点介绍-->
	    	<div class="de">
	    		<div id="deknowledgeT">
	    			<p id="start"></p>
					<p id="end"></p>
					<p id="info"></p>
	    		</div>
	    	</div>
			<div id="question">
			</div>
			<button id="backButton" onclick="goBack()">返回上页</button>
	    </div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/name.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
	    </div>
</div>
	</body>
</html>
