<!DOCTYPE html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script>
var schoolID=getCookie("schoolID");
		window.onload=function(){
		getCourse(schoolID);
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /> <a href=\"/student/index\"><img class=\"head\" src=\"/img/name.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/head.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/head1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
     function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";
   }
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
function getCourse(id)
{
                   $.ajax({
        type:"GET", //请求方式
        url: "/school/"+id+"/course" ,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        str="";
        str=str+"<span>选择课程发布实训：   </span><select id=\"sex2\" class=\"sex1\">";
        $.each(data,function(i,item){
        if(i==0)
				str=str+"<option id=\""+item.course_id+"\" selected>"+item.course_name+"</option>";
				else
				str=str+"<option id=\""+item.course_id+"\">"+item.course_name+"</option>";
         });
         str=str+"</select>";
         $("#se").html(str);
        }
        });
        }
</script>
<script>
    function go()
    {
     var obj=document.getElementById("sex2");
	id=obj.options[obj.selectedIndex].id;
    var bind={
"traing_introduction": $('#name').val() ,
    "start_time":$('#start').val(),
    "end_time":$('#end').val(),
    "student_num":0,
    "course_id":id
    }
$.ajax({
        type:"POST", //请求方式
        url: "/training",
        contentType :"application/json",
        data:JSON.stringify(bind),
        dataType: 'json',   //返回值类型
         success:function(data){
         alert("发布实训成功！");
         window.location.href="/student/zPutTraining";
         },
          error:function(data){
          alert(111);
         }
         });
    }
</script>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/manager/css/schoolIndex.css" />
    <title>新增实训</title>
</head>
<body>
<div class="container">
    <!--顶部标题栏-->
    <div class="header" id="header">
    </div>

    <div class="TreeWrap">
        <div class="MenuBox" id="Menu_0">
            <div class="titBox"><h3 class="Fst"><a href="javascript:showMenu(0);">门户管理</a></h3></div>
            <div class="txtBox">
                <ul>
                    <li><a href="/student/zNews">资讯管理</a></li>
                </ul>
            </div>
        </div><!--MenuBox-->
        <div class="MenuBox2" id="Menu_1">
            <div class="titBox"><h3><a href="javascript:showMenu(1);">系统管理</a></h3></div>
            <div class="txtBox">
                <ul>
                    <li><a href="#">教师管理</a></li>
                    <li><a href="#">学生管理</a></li>
                    <li><a href="#">课程管理</a></li>
                </ul>
            </div>
        </div><!--MenuBox-->
        <div class="MenuBox2" id="Menu_2">
            <div class="titBox"><h3><a href="javascript:showMenu(2);">交流监管</a></h3></div>
            <div class="txtBox">
                <ul>
                    <li><a >话题锁定与删除</a></li>
                    <li><a >全文搜索</a></li>
                    <li><a >敏感词设置</a></li>
                    <li><a >图片浏览/删除</a></li>
                </ul>
            </div>
        </div><!--MenuBox-->
        <div class="MenuBox2" id="Menu_3">
            <div class="titBox"><h3><a href="javascript:showMenu(3);">实训动态</a></h3></div>
            <div class="txtBox">
                <ul>
                    <li><a href="/student/zPutTraining">发布实训</a></li>
                    <li><a href="/student/zTrainingData">实训数据汇总</a></li>
                </ul>
            </div>
        </div><!--MenuBox-->
        <div class="MenuBox2" id="Menu_4">
            <div class="titBox"><h3><a href="javascript:showMenu(4);">数据分析</a></h3></div>
            <div class="txtBox">
                <ul>
                    <li><a href="/student/zData">数据分析</a></li>
                </ul>
            </div>
        </div><!--MenuBox-->
        <div class="MenuBox2" id="Menu_5">
            <div class="titBox"><h3><a href="javascript:showMenu(5);">实时数据</a></h3></div>
            <div class="txtBox">
                <ul>
                    <li><a>实时数据</a></li>
                </ul>
            </div>
        </div><!--MenuBox-->
    </div>
       <div id="newsEdit2">
	    <div class="newsContent1">
            <div id="se"></div>
                <p class="ins1">开始时间： <input type="date" class="ins" id="start"></p>
            <p class="ins1">结束时间： <input type="date" class="ins" id="end"></p>
            <p class="ins1">实训名称： <input type="text" class="ins2" id="name"></p>
                <button  class="sure" type="button" id="put" onclick="go()">发布实训</button>
	    </div>
	    </div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/name.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
		</div>
			
			
	    </div>
	    </div>
	    <script type="text/javascript">
	    	document.getElementById('icon').onclick=function(){
                window.location.assign('http://127.0.0.1:8020/%E4%BA%91%E6%99%BA%E6%95%99%E8%82%B2/login.html?__hbt=1521282909333');
            }
	 
function ExChgClsName(Obj,NameA,NameB){
 var Obj=document.getElementById(Obj)?document.getElementById(Obj):Obj;
 Obj.className=Obj.className==NameA?NameB:NameA;
 }
 function showMenu(iNo){
 ExChgClsName("Menu_"+iNo,"MenuBox","MenuBox2");
 } 
 document.getElementById('newsEdit1').style.display='none';  
         var btn1 = document.getElementById("qw");  
        btn1.onclick =function(){  
            document.getElementById('newsEdit').style.display='none';
            document.getElementById('newsEdit1').style.display='block';
        }  
	    </script>
	</body>
</html>
