<!DOCTYPE html>
<script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/cookie3.js"></script>
<script type="text/javascript" src="/js/echarts.simple.min.js"></script>
<script>
var schoolID=getCookie("schoolID");
		window.onload=function(){
		document.getElementById('xx').style.display='none';
		document.getElementById('df').style.display='block';
		getMyTraining(schoolID);
		str="";
		if(getCookie("identification")==1)
		{str2="我的课程";}
		else if(getCookie("identification")==3)
		{str2="我的学校";}
		else
		{str2="我的学习";}
		str=str+"<img class=\"img-logo\" src=\"/img/logo.png\" /> <a href=\"/student/index\"><img class=\"head\" src=\"/img/name.png\" /></a><a  onclick=\"joinStudy()\" class=\"nav1\">"+str2+"</a><a onclick=\"joinMessage()\" class=\"nav2\">消息</a>";
		 if(getCookie("userID")==null)  str=str+"<a href=\"/student/login\" class=\"nav3\">登录/注册</a><img id=\"icon\" src=\"/img/head.png\" />";
        else        str=str+"<a class=\"nav3\">"+getCookie("name")+"</a><img id=\"icon\" src=\"/img/head1.png\" /><a onclick=\"exituser()\" class=\"nav3\">退出登录</a>";
        $("#header").html(str);
    }
    function exituser()
    {
     delCookie("name");
     delCookie("userID");
     delCookie("sex");
     delCookie("schoolID");
     delCookie("identification");
     window.location.href="/student/login";
    }
     function joinStudy()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   if(getCookie("identification")==1)
   window.location.href="/student/teacherClass";
   if(getCookie("identification")==2)
   window.location.href="/student/myStudy";
   if(getCookie("identification")==3)
   window.location.href="/student/zSchoolIndex";
   }
   }
      function joinMessage()
   {
   var userID=getCookie("userID");
   if(userID==null){alert("请先登录!");}
   else
   {
   window.location.href="/student/message";}
   }
	</script>
<script>
	function getMyTraining(id)
	{
	var str="";
	str=str+"<p>实训效果分析</p>";
	$.ajax({
        type:"GET", //请求方式
        url:  "/school/"+id+"/course",
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
        $.each(data,function(i,item){
        str=str+"<div class=\"mystudyMissionP\"><div class=\"class1\"><img class=\"classPicture\" src=\""+item.picture+"\"><div class=\"classHeader\"><span class=\"classHeader\">"+item.course_name+"</span></div><div class=\"subHeader\"><span class=\"subHeader\">"+item.teacher_name+"</span></div></div><div class=\"mystudyMissionPa\">";
    $.ajax({
        type:"GET", //请求方式
        url: "/training/course/"+item.course_id,
        cache: false,   //如果使用缓存
        async:false,
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data1){
        $.each(data1,function(i1,item1){
               str=str+"<div onclick=\"goTraining("+item1.id+")\" class=\"mystudyMissionPe\">"+"实训"+(i1+1)+"   "+item1.traing_introduction+"</div>";
			           });
	           }
              });
        str=str+"</div></div>";
        });
        $("#df").html(str);
	    }
	    });
	}
	function goTraining(id)
	{
	document.getElementById('df').style.display='none';
	document.getElementById('xx').style.display='block';
	$.ajax({
        type:"GET", //请求方式
        url: "/training2/"+id ,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
         $("#name").html(data.name+"  实训效果分析");
          $("#start").html("开始时间： "+data.start_time);
          $("#end").html("结束时间： "+data.end_time);
          $("#num").html("已有"+data.num+"人提交报告");
          	   var option = {
            title:{
                text:'ECharts 数据统计'
            },
            tooltip:{},
            legend:{
                data:['用户来源']
            },
            xAxis:{
                data:["60分以下","60-69分","70-79分","80-89分","90分及其以上"]
            },
            yAxis:{

            },
            series:[{
                name:'访问量',
                type:'bar',
                data:[data.g1,data.g2,data.g3,data.g4,data.g5]
            }]
        };
	 //初始化echarts实例
        var myChart = echarts.init(document.getElementById('bar'));
        //使用制定的配置项和数据显示图表
        myChart.setOption(option);
        }
        });
	}
	function goBack()
	{
	window.location.href="/student/zTrainingData";
	}
</script>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/manager/css/schoolIndex.css" />
	<title>实训分析</title>
</head>
<body>
<div class="container">
	<!--顶部标题栏-->
	<div class="header" id="header">
	</div>

	<div class="TreeWrap">
		<div class="MenuBox" id="Menu_0">
			<div class="titBox"><h3 class="Fst"><a href="javascript:showMenu(0);">门户管理</a></h3></div>
			<div class="txtBox">
				<ul>
					<li><a href="/student/zNews">资讯管理</a></li>
				</ul>
			</div>
		</div><!--MenuBox-->
		<div class="MenuBox2" id="Menu_1">
			<div class="titBox"><h3><a href="javascript:showMenu(1);">系统管理</a></h3></div>
			<div class="txtBox">
				<ul>
					<li><a href="#">教师管理</a></li>
					<li><a href="#">学生管理</a></li>
					<li><a href="#">课程管理</a></li>
				</ul>
			</div>
		</div><!--MenuBox-->
		<div class="MenuBox2" id="Menu_2">
			<div class="titBox"><h3><a href="javascript:showMenu(2);">交流监管</a></h3></div>
			<div class="txtBox">
				<ul>
					<li><a >话题锁定与删除</a></li>
					<li><a >全文搜索</a></li>
					<li><a >敏感词设置</a></li>
					<li><a >图片浏览/删除</a></li>
				</ul>
			</div>
		</div><!--MenuBox-->
		<div class="MenuBox2" id="Menu_3">
			<div class="titBox"><h3><a href="javascript:showMenu(3);">实训动态</a></h3></div>
			<div class="txtBox">
				<ul>
					<li><a href="/student/zPutTraining">发布实训</a></li>
					<li><a href="/student/zTrainingData">实训数据汇总</a></li>
				</ul>
			</div>
		</div><!--MenuBox-->
		<div class="MenuBox2" id="Menu_4">
			<div class="titBox"><h3><a href="javascript:showMenu(4);">数据分析</a></h3></div>
			<div class="txtBox">
				<ul>
					<li><a href="/student/zData">数据分析</a></li>
				</ul>
			</div>
		</div><!--MenuBox-->
		<div class="MenuBox2" id="Menu_5">
			<div class="titBox"><h3><a href="javascript:showMenu(5);">实时数据</a></h3></div>
			<div class="txtBox">
				<ul>
					<li><a>实时数据</a></li>
				</ul>
			</div>
		</div><!--MenuBox-->
	</div>
	    <div id="newsEdit">
         <div style=" border:1px solid #adcd3c;background:#f2fddb" class="newsContent1">
			 <div id="df"></div>
			 <div id="xx">
				 <p class="textq" id="name"></p>
				 <p class="textq" id="start"></p>
				 <p class="textq" id="end"></p>
				 <p class="textq" id="num"></p>
				 <p class="textq"></p>
				 <div id="bar" style="width:600px; height: 400px;"></div>
				 <button class="ins" onclick="goBack()">返回实训首页</button>
			 </div>
	    </div>
     </div>

	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="/img/logo.png" />
			<img class="head" src="/img/name.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
		</div>
			
			
	    </div>
	    </div>
	    <script type="text/javascript">
function ExChgClsName(Obj,NameA,NameB){
 var Obj=document.getElementById(Obj)?document.getElementById(Obj):Obj;
 Obj.className=Obj.className==NameA?NameB:NameA;
 }
 function showMenu(iNo){
 ExChgClsName("Menu_"+iNo,"MenuBox","MenuBox2");
 } 
 
	    </script>
	</body>
</html>
