
body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: #000000;
}

/*顶部标题栏*/
.header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 60px;
	background-color:rgb(185,227,217);
	z-index: 2;
}
/*网站logo*/
.img-logo{
	width: 40px;
	height: 20px;
	position: relative;
	left: -750px;
	top: 30px;
}
/*网站logo*/
.img-logo1{
	width: 40px;
	height: 20px;
	position: relative;
	left: 30px;
	top: -5px;
}
/*网站logo字体*/
.head1{
	position: relative;
	left: 40px;
	top: 0px;
	width:100px;
	height: 40px;
}
/*网站logo字体*/
.head{
	position: relative;
	left: 30px;
	top: -5px;
	width:100px;
	height: 40px;
}

/*头像*/
#icon{
	width: 30px;
	height: 30px;
	position: relative;
	left: 880px;
	top: -4px;
}
/*按钮样式*/
.buttonStyle button{
	width: 100px;
	height: 30px;
	background-color:rgb(185,227,217);
	font-size: 16px;
	border:1px solid #BBBBBB; 
}
/*按钮点击后效果*/
.buttonStyle button:hover,button:focus{
	background: cadetblue;
	color: white;
}
.buttonStyle button:active{
	border:1px solid #BBBBBB; 
	color: #000000;
}
#schoolCarousel{
	position: absolute;
	top: 80px;
	left: 1080px;
}
#newsbutton{
	position: relative;
	top: 10px;
	left: 650px;
}
/*我的学习*/
.nav1{
	position: relative;
	left: 820px;
	top: -18px;
	font-size: smaller;
}

/*消息*/
.nav2{
	position: relative;
	left: 850px;
	top: -18px;
	font-size: smaller;
}

/*登陆*/
.nav3{
	position: relative;
	left: 880px;
	top: -18px;
	font-size: smaller;
	text-decoration: none;
	color: #000000;
}

/*学校背景图*/
.schoolBg{
	width: 800px;
	height: 150px;
	background: gray;
	margin: 0 auto;
	position: relative;
	margin-left:400px;
	top: 80px;
}
/*学校校徽*/
.schoolBedge{
	width: 100px;
	height:100px;
	position: relative;
	left: 250px;
	top: 40px;
}
.circleP{
	position: relative;
	left: 950px;
	color: brown;
	
}
/*学校简介栏*/
.schoolIntro{
	width: 580px;
	height: 450px;
	position: relative;
	/*top: 10px;*/
	left: 450px;
	font-size: large;
	line-height: 30px;
	
}
#school{
position:relative;
margin-left:350px;
}
/*分隔符*/
.hr{
	width: 95%;
	height:15px;
	margin: 15px auto;
	background: #DBDBDB;
}
/*新闻资讯*/
.news{
	background: #F5EDA4;
	width: 800px;
	height: 250px;
	margin: 0 auto;
	position: relative;
}
/*新闻资讯内容*/
.newsContent{
	width: 700px;
	height:200px;
	margin: 0 auto;
	position: relative;
	top: 20px;
}

/*课程推荐导航栏*/
.class-navigation{
	background:rgb(185,227,217);
	width:95%;
	height:40px;
    margin: 0px auto;
    position: relative;
    top: 30px;
}

/*所有课程*/
.allClass{
	font-size: 16px;
	position: relative;
	top:8px;
	left: 15px;	
}
#f2{
margin-left:50px;
font-size: 20px;
color:cadetblue;
}
/*最新课程*/
.latestClass{
	font-size: 16px;
	position: relative;
	top: 8px;
	left: 50px;
}
/*更多按钮*/
#moreBtn{
	width: 100px;
	height: 30px;
	border: none;
	background: none;
	position: relative;
	top: 5px;
	float: right;
}
#classViewPanel{
	width:900px;
    height:450px;
    overflow-y:hidden;
    margin:0 auto;
}
/*课程分布*/
.class-row1{
	width: 860px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	top: 50px;
}
.data{
position:relative;
width:100px;
height:30px;
margin-left:30px;
}
/*课程列表*/
.class1{
	width: 150px;
	height: 170px;
	border:solid 0.5px;
	float: left;
}

/*课程封面*/
.classPicture
{
	width: 60px;
	height: 60px;
	margin-left: 30px;
	margin-top: 20px;
}

/*课程题目*/
.classHeader{
	font-size: 18px;
	position: relative;
	margin-left: 20px;
}

/*课程讲师*/
.subHeader{
	font-size: 14px;
	margin-left: 20px;
	margin-top: 10px;
}


.class2{
    border:solid 0.5px;
	height: 170px;
	width: 150px;
	float: left;
	margin-left: 28px;
}

.class3{
	border:solid 0.5px;
	height: 170px;
	width: 150px;
	float: left;
	margin-left: 28px;
}

.class4{
	width: 150px;  
    height: 170px;  
    border:solid 0.5px;  
    float: left;
    margin-left: 28px;
}

.class5{
	width: 150px;  
    height: 170px;  
    border:solid 0.5px;  
    float: right;
}

.class-row2{
	width: 860px;
	height: 200px;
	margin: 40px auto;
}
/*讲师推荐导航栏*/
.teacher-navigation{
	background:rgb(185,227,217);
	width:95%;
	height:40px;
    margin: -30px auto;
}
/*所有讲师*/
.allTeacher{
	font-size: 16px;
	position: relative;
	top: 8px;
	left: 15px;	
}
/*更多按钮*/
#moreBtn1{
	width: 100px;
	height: 30px;
	border: none;
	background: none;
	position: relative;
	top: -30px;
	float: right;
}
/*老师推荐第一行*/
.teacherRow1{
	width: 860px;
	height: 200px;
	margin: 0 auto;
}
/*第一个老师*/
.teacher1{
	width: 150px;
	height: 150px;
	float: left;
	margin: 0 auto;
	margin-top: 50px;
}
/*老师图片*/
.teacherPic{
	width:100px;
	height: 100px;
	border-radius: 50%;
	border: solid 2px;
}
/*老师的介绍*/
.pCenter{
	position: relative;
	left: 130px;
	top:-90px;
	font-size: 18px;
	line-height: 20px;
	border: solid #000000 1px;
}
.pCenter1{
	position: relative;
	top: -50px;
	left: 80px;
	border: solid #000000 1px;
}
.teacher2{
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 85px;
	margin-top: 50px;
}
.teacher3{
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 85px;
	margin-top: 50px;
}
.teacher4{
	width: 150px;  
    height: 150px;  
    margin-top: 50px;
    float: right;
}
/*老师第二行*/
.teacherRow2{
	width: 860px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	top: -50px;
}
/*页脚*/
.footer{
	background:rgb(185,227,217);
	width:100%;
	height:200px;
}

/*公司介绍*/
.introduction{
	width: 400px;
	height: 100px;
	margin-left: 100px;
	margin-top: 10px;
	line-height: 35px;
}

/*关于我们*/
.aboutUs{
	width: 400px;
	height: 50px;
	position: relative;
	margin-left: 950px;
	margin-top: -100px;
}

/*联系我们*/
.contact{
	position: relative;
	left: 60px;
	top: 2px;
}

a,a:visited {color:#000000;text-decoration:none;}
a:hover {color:#A52A2A;}
ul,li {margin:0;padding:0;list-style:none;}
.TreeWrap {
	width:200px;
	position: absolute;
	top: 65px;
	left: 20px;
	border: solid #BBBBBB 1px;
	background:rgb(185,227,217);
}
.ew{
	font-size: larger;
	font-weight: bold;
	margin-left: 20px;
	color:#EE6A50;
	position: relative;
	top: 10px;
}
.MenuBox .titBox a,
.MenuBox .titBox a:visited,
.MenuBox2 .titBox a,
.MenuBox2 .titBox a:visited {margin-left:10px;padding-left:40px;display:block;}
.MenuBox2 .txtBox {display:none;}
.MenuBox .txtBox ul li {padding-left:65px;line-height:200%;}
.MenuBox .txtBox .num {color:#e00;}

/*资讯编辑页面*/
#newsEdit{
	width: 75%;
	height: 600px;
	margin-left: 250px;
	margin-top: 80px;
	margin-bottom: 30px;
	overflow-x:hidden;
	border: solid #BBBBBB 1px;
	background: #F5EDA4;
}
#newsEdit1{
	width: 75%;
	height: 500px;
	margin-left: 250px;
	margin-top: 80px;
	margin-bottom: 30px;
	border: solid #BBBBBB 1px;
	background: #F5EDA4;
}
#newsEdit1 p{
	margin-left: 30px;
	margin-top: 150px;
	font-size: large;
}
#newsEdit1 input{
	width: 90%;
	height: 50px;
	position: relative;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 35px;
}
#newsEdit2{
	width: 75%;
	height: 500px;
	margin-left: 250px;
	margin-top: 80px;
	margin-bottom: 30px;
	border: solid #BBBBBB 1px;
	background: #F5EDA4;
}
#newsEditbutton{
	position: relative;
	top: 20px;
	left: -30px;
	float: right;
}
#startnewsBtn{
	position: relative;
	left: 400px;
	top: 40px;
	height: 50px important;
	width: 150px important;
	font-size: large;
}
#startPicBtn{
	position: relative;
	left: 400px;
	top: 80px;
	height: 50px !important;
	width: 150px !important;
	font-size: large;
}
.newsContent1{
	width: 1200px;
	height:490px;
	margin: 0 auto;
	margin-top:10px;
	position: relative;
	border: solid #000000 1px;
	overflow-x:hidden;
}
#fl{
margin-left:30px;
color:green;
}
.sure{
	position: relative;
	left: 400px;
	top: 150px;
	height: 50px !important;
	width: 150px !important;
	font-size: large;
}
.delete{
    position: relative;
    margin-left:50px;
	height: 30px ;
	width: 60px ;
}
.sd{
width:100%;
height:40px;
}
#delete{
	position: relative;
	left: 400px;
	top: 80px;
	height: 50px !important;
	width: 150px !important;
	font-size: large;
}
.newsContent1 .item{
	width: 100%;
	height: 150px;
	border: solid #000000 1px;
}
.newsContent1 .item1{
	width: 100%;
	height: 50px;
	border: solid #000000 1px;
}

 .bar3 form {background: #A3D0C3;}
.bar3 input, .bar3 button {
    background: transparent;
}
.bar3 button {
            top: 0;
            right: 0;
            
 }
.bar3 button:before {	
           
            font-family: FontAwesome;
            font-size: 16px;
            color: #F9F0DA;
 }
        
 div.search {
 	padding: 30px 0;
 	margin-left: -500px;
}

form {
            position: relative;
            width: 300px;
            margin: 0 auto;
}

input, button {
            border: none;
            outline: none;
}

input {
            width: 100%;
            height: 42px;
            padding-left: 13px;
}

button {
            height: 42px;
            width: 42px;
            cursor: pointer;
            position: absolute;
 }

.have{
	width: 80%;
	height: 150px;
	border: solid #000000 1px;
	margin: 0 auto;
	margin-top: 40px;
}
.set{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}
#qww{
	position: relative;
	top: 100px;
	left: 400px;
}
#qwww{
	position: relative;
	top: 30px;
	float: right;
	left: -50px;
}
.acs{
	width: 90%;
	height: 300px;
	margin: 0 auto;
	margin-top: 100px;
	border: solid #000000 1px;
}
#qwwww{
	position: relative;
	top: 30px;
	left: 400px;
}
#put{
	position: relative;
	left: 400px;
	top: 80px;
	height: 50px !important;
	width: 150px !important;
	font-size: large;
}
.classTitle{
	border: solid #000000 1px;
	position: relative;
	top: 150px;
	left: 50px;
}
.wir{
	width: 60%;
	height: 200px;
	border: #000000 solid 1px;
	margin: 0 auto;
}
.number{
	position: relative;
	top: -35px;
	left: 120px;
	border: solid #000000 1px;
	
}
.taskPanel{
	width: 80%;
	height: 280px;
	margin-left:50px;
	margin-top:20px;
	overflow-x:hidden;
	border: #BBBBBB solid 1px;
	position: relative;
	background: #F0F0F0;
}
.de{
	width: 750px;
	height: 150px;
	border: #BBBBBB solid 1px;
	position: relative;
	top: 0px;
	left: 50px;
	background: white;
}
#sex{
width:100px;
margin-left:50px;
}
.sex1{
position:relative;
width:100px;
margin-top:-100px;
margin-left:50px;
}
.mystudyMissionPe1{
color:red;
height:40px;
margin-left:50px;
}
#se{
margin-top:30px;
margin-left:30px;
}
.ins{
width:100px;
height:30px;
}
