a,a:visited {color:#000000;text-decoration:none;}
a:hover {color:#A52A2A;}
ul,li {margin:0;padding:0;list-style:none;}
.TreeWrap {width:200px;}
.MenuBox .titBox a,
.MenuBox .titBox a:visited,
.MenuBox2 .titBox a,
.MenuBox2 .titBox a:visited {margin-left:10px;padding-left:40px;display:block;}
.MenuBox2 .txtBox {display:none;}
.MenuBox .txtBox ul li {padding-left:65px;line-height:200%;}
.MenuBox .txtBox .num {color:#e00;}