<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/circle.css" />
		<title>帖子详情</title>
	</head>
	<body>
	<div class="container">
		<!--顶部标题栏-->
		<div class="header">
			<img class="img-logo" src="img/logo.png" />
			<a href="index.html"><img class="head" src="img/字体设计.png" /></a>
		     <a  href="class.html" class="nav1">我的课程</a>
		        <a href="message.html" class="nav2">消息</a>
		        <a href="login.html" class="nav3">登录/注册</a>
            <img id="icon" src="img/头像.png" /> 
            
		</div>
		<!--学校背景图-->
		<div class="schoolBg">
			
		</div>
		<!--学校校徽-->
		<img class="schoolBedge" src="img/Badge 5.png"/>
		<!--学校简介-->
		<div class="schoolIntro">
			<p>这里是学校简介巴拉不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不不</p>
		</div>
		<!--分隔符-->
		<div class="hr">
		     	
		</div>
		<!--帖子面板-->
		<div class="panel1">
			<p class="pColor">#帖子名称</p>
			<button type="button" id="allComment" autofocus="autofocus">全部评论</button>
			<button type="button" id="myComment">我的评论</button>
			<button type="button" id="Comment">评论</button>
			<!--第一篇帖子-->
			<hr class="hr1" />
			<div class="box1">
				<div class="circle">
				   <p class="circleNum">1</p>
				</div>
				<div class="cicleContent">
					<p>帖子内容</p>
				</div>
				<div class="date1">
					<p>2018-03-29</p>
				</div>
				<a href="circleToComment.html"><img src="img/消息.png" class="img21"></a>
				<div class="num1">
					<p>2938人</p>
				</div>
			</div>
			<!--第二篇帖子-->
			<hr class="hr1" />
			<div class="box1">
				<div class="circle">
				   <p class="circleNum">2</p>
				</div>
				<div class="cicleContent">
					<p>帖子内容</p>
				</div>
				<div class="date1">
					<p>2018-03-29</p>
				</div>
				<a href="circleToComment.html"><img src="img/消息.png" class="img21"></a>
				<div class="num1">
					<p>2938人</p>
				</div>
			</div>
			<!--第三篇帖子-->
			<hr class="hr1" />
			<div class="box1">
				<div class="circle">
				   <p class="circleNum">3</p>
				</div>
				<div class="cicleContent">
					<p>帖子内容</p>
				</div>
				<div class="date1">
					<p>2018-03-29</p>
				</div>
				<a href="circleToComment.html"><img src="img/消息.png" class="img21"></a>
				<div class="num1">
					<p>2938人</p>
				</div>
			</div>
			<!--第四篇帖子-->
			<hr class="hr1" />
			<div class="box1">
				<div class="circle">
				   <p class="circleNum">4</p>
				</div>
				<div class="cicleContent">
					<p>帖子内容</p>
				</div>
				<div class="date1">
					<p>2018-03-29</p>
				</div>
				<a href="circleToComment.html"><img src="img/消息.png" class="img21"></a>
				<div class="num1">
					<p>2938人</p>
				</div>
			</div>
		</div>
		<!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
	    </div>
		</div>
		<script>
			document.getElementById('Comment').onclick=function(){
                window.location.assign('http://127.0.0.1:8020/%E4%BA%91%E6%99%BA%E6%95%99%E8%82%B2/circleToComment.html');
            }
		</script>
	</body>
</html>
