<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>云智教育</title>
	</head>
	<body>
		<!--顶部标题栏-->
		<div class="header">
			<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
		        <a  href="class.html" class="nav1">我的课程</a>
		        <a href="message.html" class="nav2">消息</a>
		        <a href="login.html" class="nav3">登录/注册</a>
            <img id="icon" src="img/头像.png" /> 
		</div>
		<!--轮播图-->
		<div class="carousel">
			
		</div>
		<!--课程推荐-->
		<div class="class-navigation">
			<span class="allClass">
				全部课程
			</span>
			<span class="latestClass">
				最新课程
			</span>
			<button id="moreBtn">更多</button>
		</div>
		<!--课程列表第一行-->
		<div id="classViewPanel">
		<div class="class-row1">
	    <div class="class1">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class2">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class3">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	     
	    <div class="class4">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class5">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	 </div>
	    <!--  课程列表第二行-->
	    <div class="class-row">
	    <!--课程列表-->
	    <div class="class1">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class2">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class3">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	     
	    <div class="class4">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class5">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	  </div>
	  	    <!--  课程列表第三行-->
	    <div class="class-row">
	    <!--课程列表-->
	    <div class="class1">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class2">
	    	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class3">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	     
	    <div class="class4">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	    <div class="class5">
	     	<a href="classContent.html"><img class="classPicture" src="img/logo.png"></a>
	    	<div class="classHeader">
	    		<a href="classContent.html"><span class="classHeader"></span></a>
	    	</div>
	    	<div class="subHeader">
	    		<span class="subHeader"></span>
	    	</div>
	    </div>
	    
	  </div>
	  </div>
	    <!--院校推荐-->
		<div class="school-navigation">
			<span class="allSchool">
				<p>合作院校</p>
			</span>
			<button id="moreBtn1">更多</button>
		</div>
		<!--院校推荐图标第一行-->
		<div id="schoolViewPanel">
        <div class="bedgeRow1">
		<div class="bedge1">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge2">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge3">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge4">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge5">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge6">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge7">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
        </div>
        <!--院校推荐图标第二行-->
        <div class="bedgeRow2">
		<div class="bedge1">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge2">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge3">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge4">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge5">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge6">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
		<div class="bedge7">
			<a href="schoolIndex.html"><img class="bedgePic" src="img/Badge 5.png"></a>
			<a href="schoolIndex.html"><span class="pCenter"></span></a>
		</div>
        </div>
        </div>
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
			
	    </div>
	    
	    <script>
	    	document.getElementById('icon').onclick=function(){
                window.location.assign('http://127.0.0.1:8020/%E4%BA%91%E6%99%BA%E6%95%99%E8%82%B2/login.html?__hbt=1521282909333');
            }
	/*更多按钮 */   	
	var btn = document.getElementById('moreBtn');
    var obj = document.getElementById('classViewPanel');
    var total_height =  obj.scrollHeight;//文章总高度
    var show_height = 400;//定义原始显示高度
    if(total_height>show_height){
    btn.style.display = 'block';
    btn.onclick = function(){
    obj.style.height = total_height + 'px';
    /*btn.style.display = 'none';*/
    }
    
    }
	    </script>
	</body>
</html>
