<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css" />
		<title>新建班级</title>
	</head>
	<body>
		<div class="container">
		<!--顶部标题栏-->
		<div class="header">
			<img class="img-logo" src="img/logo.png" />
			<a href="index.html"><img class="head" src="img/字体设计.png" /></a>
		        <a  href="class.html" class="nav1">我的课程</a>
		        <a href="message.html" class="nav2">消息</a>
		        <a href="login.html" class="nav3">登录/注册</a>
            <img id="icon" src="img/头像.png" /> 
		</div>
		<div class="newClassPanel">
			<div id="newClassPanel2">
				<div class="newclasspo">
				<p class="newclassPanel2Title">创建班级：</p>
				<p>班级名称：</p>
				<input type="text" id="newlessonName"/>
				<p>创建时间:</p>
				<input type="date" id="startTime"/>
				<p>结束时间：</p>
				<input type="date" id="endTime"/>
				<button type="button" id="ToNewlesson">确认创建</button>
				</div>
			</div>
		</div>
		 <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>	
	    </div>
	    </div>
	    <script>  
        var btn2 = document.getElementById("ToNewlesson");  
        btn2.onclick =function(){  
            window.open('upClass.html');
        }  
	    </script>
	</body>
</html>
