<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/classContent.css" />
		<title>创建任务</title>
	</head>
	<body>
		<!--顶部标题栏-->
		<div class="header">
			<img class="img-logo" src="img/logo.png" />
			<a href="index.html"><img class="head" src="img/字体设计.png" /></a>
		        <a  href="myStudy.html" class="nav1">我的学习</a>
		        <a href="message.html" class="nav2">消息</a>
		        <a href="login.html" class="nav3">登录/注册</a>
            <img id="icon" src="img/头像.png" /> 
		</div>
	    <a href="index.html" class="backIndex">首页</a>
	    <a href="classContent.html" class="backIndex">> 课程详情</a>	
	    <!--课程概述-->
	    <div class="classPic">
	        <!--课程封面图片-->
	    	<img src="img/classPic.png" class="Picture"/>
	    	<!--课程相关介绍-->
	    	<div class="classIntroduction">
	    		<p class="title">这里是课程标题</p>
	    		<p class="author">讲师：某某某</p>
	    		<p class="introduction">这里是课程简介巴拉巴拉巴拉巴拉巴拉可以写一堆，和下面介绍不同的地方是这个是总的课程介绍</p>
	    		<span class="class-class">班级1</span>
	    		<button type="button" id="startclassBtn">新建班级</button>
	    	</div>
	    	<!--导航栏-->
            <div class="classNavigation">
            	<span class="name">课时名称</span>
            </div>	    	
	    </div>
	    <!--课程详情-->
	    <div class="secondBox">
             <div id="upclass1">
             	<button type="button" id="up1">上传课件</button>
             	<p class="upclassP1">请输入课时名称：</p>
             	<input type="text" class="classname" />
             	<p class="upclassP">请选择课件类型:</p>
             	<label class="radioP">
             	<input type="radio" name="choice" value="文档" />
             	<span class="a">word文档</span>
             	<input type="radio" name="choice" value="PPT"/>
             	<span class="a">PPT</span>
             	<input type="radio" name="choice" value="视频"/>
             	<span class="a">视频</span>
             	</label>
             	<button type="button" id="chooseFolder">选择文件</button>
             </div>
	    </div>
	    
	    <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>
			
			
	    </div>

	</body>
</html>
