<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css" />
		<title>教学进度编辑</title>
	</head>
	<body>
		<div class="container">
		<!--顶部标题栏-->
		<div class="header">
			<img class="img-logo" src="img/logo.png" />
			<a href="index.html"><img class="head" src="img/字体设计.png" /></a>
		        <a  href="class.html" class="nav1">我的课程</a>
		        <a href="message.html" class="nav2">消息</a>
		        <a href="login.html" class="nav3">登录/注册</a>
            <img id="icon" src="img/头像.png" /> 
		</div>
		<div class="newClassPanel">
			<div class="stageedit">
				<p>知识点编辑</p>
			</div>
			
		</div>
		 <!--页脚-->
	    <div class="footer">
	    	<img class="img-logo" src="img/logo.png" />
			<img class="head" src="img/字体设计.png" />
			<div class="introduction">
				<p>文思海辉技术有限公司旗下实用技能学习平台。与专业机构、院校合作。为您提供海量优质课堂，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
			</div>	
	    </div>
	    </div>
	    <script>
      
	    </script>
	</body>
</html>
