<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="xmu.yunzhieducation.mapper.CourseMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <!--新建课程，向course表插入-->
    <insert id="creatCourse" parameterType="xmu.yunzhieducation.entity.Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course
        (name,introduction,teaching_progress,knowledge_point,teacher_id,picture)
        VALUES(#{name},#{introduction},#{teaching_progress},#{knowledge_point},#{teacher_id},#{picture})
    </insert>
    <!--学生选课，向class_student表插入数据-->
    <insert id="chooseCourseByStudentID" parameterType="xmu.yunzhieducation.entity.Class_student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO class_student
        (class_id,student_id)
        VALUES (#{class_id},#{student_id})
    </insert>
     <!--删除课程-->
    <delete id="deleteCourseByCourseID">
        DELETE FROM course
        WHERE id=#{course_id}
    </delete>
    <!--退课-->
    <delete id="dropCourseByClassID">
        DELETE FROM class_student
        WHERE class_id=#{class_id} and student_id=#{student_id}
    </delete>
    <!--查询课程信息-->
    <select id="selectCourseinfoByCourseID" resultMap="courseResultMap">
        SELECT *
        FROM course
        WHERE id=#{course_id}
    </select>
    <resultMap id="courseResultMap" type="xmu.yunzhieducation.entity.Course">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="introduction" column="introduction"/>
        <result property="teaching_progress" column="teaching_progress"/>
        <result property="knowledge_point" column="knowledge_point"/>
        <result property="teacher_id" column="teacher_id"/>
        <result property="picture" column="picture"/>
    </resultMap>
    <!--更新课程信息-->
    <update id="updateCourseinfoByCourseID" parameterType="xmu.yunzhieducation.entity.Course">
        UPDATE course
        <set>
            name=#{name},
            introduction=#{introduction},
            teaching_progress=#{teaching_progress},
            knowledge_point=#{knowledge_point},
            teacher_id=#{teacher_id},
            picture=#{picture},
        </set>
        WHERE id=#{id}
    </update>
    <!--根据学生ID查询班级-->
    <select id="selectClassstudentByStudentID" resultMap="classstudentResultMap">
        SELECT
        id,class_id,student_id,grade
        FROM class_student
        WHERE student_id=#{user_id}
    </select>
    <resultMap id="classstudentResultMap" type="xmu.yunzhieducation.entity.Class_student">
        <id property="id" column="id"/>
        <result property="class_id" column="class_id"/>
        <result property="student_id" column="student_id"/>
        <result property="grade" column="grade"/>
    </resultMap>
    <!--根据班级ID查询课程ID-->
    <select id="selectCourseIDByClassID" resultMap="class1ResultMap">
        SELECT * FROM class
        WHERE id=#{class_id}
    </select>
    <select id="selectClassByCourseID" resultMap="class1ResultMap">
        SELECT * FROM class
        WHERE course_id=#{course_id}
    </select>
    <resultMap id="class1ResultMap" type="xmu.yunzhieducation.entity.Class1">
        <id property="id" column="id"/>
        <result property="course_id" column="course_id"/>
        <result property="student_num" column="student_num"/>
        <result property="class_name" column="class_name"/>
        <result property="start_time" column="start_time"/>
        <result property="end_time" column="end_time"/>
    </resultMap>
    <!--根据老师ID查找课程-->
    <select id="selectCourseByTeacherID" resultMap="courseResultMap">
        SELECT *
        FROM course
        WHERE teacher_id=#{teacher_id}
    </select>
    <update id="updateClassStudentGradeByID" parameterType="xmu.yunzhieducation.entity.Class_student">
        UPDATE class_student
        <set>
             grade=#{grade},
        </set>
        WHERE class_id=#{class_id} and student_id=#{student_id}
    </update>

    <update id="updateClass">
        UPDATE class
        <set>
            student_num=student_num+1,
        </set>
        WHERE id=#{class_id}
    </update>
</mapper>