<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="xmu.yunzhieducation.mapper.DateMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="listClassStudentByClassId" resultMap="classstudentResultMap">
        SELECT
        id,
        class_id,
        student_id,
        grade
        FROM
        class_student
        WHERE
        class_id=#{classId}
    </select>
    <resultMap id="classstudentResultMap" type="xmu.yunzhieducation.entity.Class_student">
        <id property="id" column="id"/>
        <result property="class_id" column="class_id"/>
        <result property="student_id" column="student_id"/>
        <result property="grade" column="grade"/>
    </resultMap>



    <select id="listClassStudentByClassIdAndStudentId" resultMap="classstudentResultMap">
        SELECT
        id,
        class_id,
        student_id,
        grade
        FROM
        class_student
        WHERE
        class_id=#{classId}
        AND
        student_id=#{studentId}
    </select>




    <select id="listPeriodByClassId" resultMap="periodResultMap">
        SELECT *
        FROM
        period
        WHERE
        class_id=#{classId}
    </select>
    <resultMap id="periodResultMap" type="xmu.yunzhieducation.entity.Period">
        <id property="id" column="id"/>
        <result property="class_id" column="class_id"/>
        <result property="ppt" column="ppt"/>
        <result property="knowledge_point" column="knowledge_point"/>
        <result property="video" column="video"/>
    </resultMap>




    <select id="listStudentPeriodByPeriodIdAndStudentId" resultMap="studentperiodResultMap">
        SELECT *
        FROM student_period
        WHERE
        student_id=#{studentId} AND period_id=#{periodId}
    </select>
    <resultMap id="studentperiodResultMap" type="xmu.yunzhieducation.entity.Student_period">
        <id property="id" column="id"/>
        <result property="student_id" column="student_id"/>
        <result property="period_id" column="period_id"/>
        <result property="is_click" column="is_click"/>
    </resultMap>

    <insert id="insertAbilityFileByCourseIdAndStudentId" parameterType="xmu.yunzhieducation.entity.Ablity_file" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ability_file
        (time,comment,course_id,student_id)
        VALUES(#{time},#{comment},#{course_id},#{student_id})
    </insert>


    <select id="listAbilityFileByCourseIdAndStudentId" resultMap="ablityfileResultMap">
        SELECT *
        FROM ability_file
        WHERE
        student_id=#{studentId} AND course_id=#{courseId}
    </select>
    <select id="listAbilityFileByStudentId" resultMap="ablityfileResultMap">
        SELECT *
        FROM ability_file
        WHERE
        student_id=#{studentId}
    </select>
    <select id="listAbilityFileByCourseId" resultMap="ablityfileResultMap">
        SELECT *
        FROM ability_file
        WHERE
        course_id=#{courseId}
    </select>
    <resultMap id="ablityfileResultMap" type="xmu.yunzhieducation.entity.Ablity_file">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="comment" column="comment"/>
        <result property="course_id" column="course_id"/>
        <result property="student_id" column="student_id"/>
    </resultMap>


</mapper>
