<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="xmu.yunzhieducation.mapper.LoginMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <insert id="insertUser" parameterType="xmu.yunzhieducation.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        (id,account,password,identified,name,school_id,number,sex,introduction)
        VALUES(#{id},#{account},#{password},#{identified},#{name},#{school_id},#{number},#{sex},#{introduction})
    </insert>

    <select id="Login" resultType="xmu.yunzhieducation.entity.User">
        SELECT account,password
        FROM user
        WHERE account=#{account}
    </select>

    <update id="updateUserInfo">
        UPDATE user
        <set>
            password=#{User.password},
            name=#{User.name},
            school_id=#{User.school_id},
            introduction=#{User.introduction},
            sex=#{User.sex},
            number=#{User.number},
        </set>
        WHERE account=#{User.account}
    </update>

    <select id="ListAllMessages" resultType="xmu.yunzhieducation.entity.Message">
        SELECT user_id,type,content,time,is_read,topic_id
        FROM message
        WHERE id=#{user_id}
    </select>

    <update id="updateMessage">
        UPDATE message
        <set>is_read=#{index}</set>
        WHERE id=#{message_id}
    </update>

</mapper>