<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="xmu.yunzhieducation.mapper.LoginMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <insert id="insertUser" parameterType="xmu.yunzhieducation.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        (account,password,identified,name,school_id,number,sex,introduction)
        VALUES(#{account},#{password},#{identified},#{name},#{school_id},#{number},#{sex},#{introduction})
    </insert>

    <select id="Login" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE account=#{account} and password= #{password}
    </select>
    <select id="selectUserByuserID" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE id=#{id}
    </select>
    <select id="listAllUsers" resultMap="userResultMap">
        SELECT *
        FROM user
    </select>
    <resultMap id="userResultMap" type="xmu.yunzhieducation.entity.User">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="identification" column="identification"/>
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="school_id" column="school_id"/>
        <result property="sex" column="sex"/>
        <result property="introduction" column="introduction"/>
    </resultMap>

    <update id="updateUserInfo" parameterType="xmu.yunzhieducation.entity.User">
        UPDATE user
        <set>
            account=#{account},
            password=#{password},
            name=#{name},
            school_id=#{school_id},
            introduction=#{introduction},
            sex=#{sex},
            number=#{number},
        </set>
        WHERE id=#{id}
    </update>

    <select id="listAllMessage" resultMap="messageResultMap">
        SELECT id,user_id,type,content,time,is_read,topic_id
        FROM message
        WHERE user_id=#{user_id}
    </select>
    <resultMap id="messageResultMap" type="xmu.yunzhieducation.entity.Message">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
        <result property="is_read" column="is_read"/>
        <result property="topic_id" column="topic_id"/>
    </resultMap>

    <update id="updateMessage">
        UPDATE message
        <set>is_read=1</set>
        WHERE id=#{message_id}
    </update>

    <insert id="insertMessage" parameterType="xmu.yunzhieducation.entity.Message" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message
        (user_id,type,content,time,is_read,topic_id)
        VALUES(#{user_id},#{type},#{content},#{time},#{is_read},#{topic_id})
    </insert>

    <delete id="deleteMessageByID">
        DELETE FROM message
        WHERE id=#{message_id}
    </delete>
</mapper>