<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="xmu.yunzhieducation.mapper.PeriodMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <!--新建一个课时-->
    <insert id="createPeriod" parameterType="xmu.yunzhieducation.entity.Period" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO period
        (class_id,knowledge_point)
        VALUES (#{class_id},#{knowledge_point})
    </insert>
    <!--根据课时ID删除课时-->
    <delete id="deletePeriodByPeriodID">
        DELETE FROM period
        WHERE id=#{period_id}
    </delete>

    <update id="updatePeriodByPeriodID" parameterType="xmu.yunzhieducation.entity.Period">
        UPDATE period
        <set>
            ppt=#{ppt},
            video=#{video},
        </set>
        WHERE id=#{id}
    </update>
    <!--根据班级ID选择课时-->
    <select id="selectPeriodByClassID" resultMap="periodResultMap">
        SELECT * FROM period
        WHERE class_id=#{class_id}
    </select>
    <resultMap id="periodResultMap" type="xmu.yunzhieducation.entity.Period">
        <id property="id" column="id"/>
        <result property="class_id" column="class_id"/>
        <result property="ppt" column="ppt"/>
        <result property="knowledge_point" column="knowledge_point"/>
        <result property="video" column="video"/>
    </resultMap>
    <!--根据学生ID和课时ID修改is_click-->
    <update id="updateStudentPeriodisclick">
        UPDATE student_period
        <set>
            is_click=1,
        </set>
        WHERE student_id=#{student_id} AND period_id=#{period_id}
    </update>
    <!--当学生选择课程时，插入学生课时记录-->
    <insert id="insertStudentPeriod" parameterType="xmu.yunzhieducation.entity.Student_period">
        INSERT INTO student_period
        (id,student_id,period_id,is_click)
        VALUES (#{id},#{student_id},#{period_id},#{is_click})
    </insert>
    <!--学生退课时删除学生课时记录-->
    <delete id="deleteStudentPeriodByStudentIDPeriodID">
        DELETE FROM student_period
        WHERE student_id=#{student_id} AND period_id=#{period_id}
    </delete>
    <!--根据课时ID查看课时信息-->
    <select id="selectPeriodByPeriodID" resultMap="periodResultMap">
        SELECT * FROM period
        WHERE id=#{period_id}
    </select>
    <!--老师删除课时时删除学生课时信息-->
    <delete id="deleteStudentPeriodByPeriodID">
        DELETE FROM student_period
        WHERE period_id=#{period_id}
    </delete>
</mapper>