<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="xmu.yunzhieducation.mapper.SchoolMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <insert id="insertSchool" parameterType="xmu.yunzhieducation.entity.School" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO school
        (id,homepage,name,province,city,picture)
        VALUES(#{id},#{homepage},#{name},#{province},#{city},#{picture})
    </insert>

    <update id="updateSchool" parameterType="xmu.yunzhieducation.entity.School">
        UPDATE school
        <set>
            homepage=#{homepage},
            name=#{name},
            province=#{province},
            city=#{city},
            picture=#{picture},
        </set>
        WHERE id=#{id}
    </update>

    <insert id="insertSchoolInfo" parameterType="xmu.yunzhieducation.entity.School_information" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO school_information
        (school_id,content,type,course_id)
        VALUES (#{school_id},#{content},#{type},#{course_id})
    </insert>

    <delete id="deleteSchoolInfo">
        DELETE FROM school_information WHERE id=#{id}
    </delete>
    <delete id="deleteSchoolInfoByCourseId">
        DELETE FROM school_information WHERE course_id=#{course_id}
    </delete>
    <update id="updateSchoolInfo">
        UPDATE school_information
        <set>
            content=#{info},
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteTeacher">
        DELETE  FROM user WHERE id=#{teacher_id}
    </delete>

    <insert id="insertClass" parameterType="xmu.yunzhieducation.entity.Class1" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO class
        (course_id,student_num,class_name,start_time,end_time)
        VALUES(#{course_id},#{student_num},#{class_name},#{start_time},#{end_time})
    </insert>

    <delete id="deleteClass">
        DELETE FROM class WHERE id=#{class_id}
    </delete>

    <update id="updateClassInfo" parameterType="xmu.yunzhieducation.entity.Class1">
        UPDATE class
        <set>
            student_num=#{student_num},
            class_name=#{class_name},
            start_time=#{start_time},
            end_time=#{end_time},
        </set>
        WHERE id=#{id}
    </update>

    <select id="listTeacherBySchoolId" resultMap="userResultMap" >
        SELECT *
        FROM user
        WHERE school_id=#{school_id} AND identification=1
    </select>
    <resultMap id="userResultMap" type="xmu.yunzhieducation.entity.User">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="identification" column="identification"/>
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="school_id" column="school_id"/>
        <result property="sex" column="sex"/>
        <result property="introduction" column="introduction"/>
    </resultMap>

    <select id="listAllSchools" resultType="xmu.yunzhieducation.entity.School">
        SELECT id,homepage,name,province,city,picture
        FROM school
    </select>

    <select id="listAllCourses" resultMap="courseResultMap">
        SELECT *
        FROM course
    </select>
    <resultMap id="courseResultMap" type="xmu.yunzhieducation.entity.Course">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="introduction" column="introduction"/>
        <result property="teaching_progress" column="teaching_progress"/>
        <result property="knowledge_point" column="knowledge_point"/>
        <result property="teacher_id" column="teacher_id"/>
        <result property="picture" column="picture"/>
    </resultMap>

    <select id="selectSchoolById" resultType="xmu.yunzhieducation.entity.School">
        SELECT *
        FROM school
        WHERE id=#{id}
    </select>

    <select id="selectInfoByschoolID" resultMap="schoolinformationResultMap">
        SELECT *
        FROM school_information
        WHERE school_id=#{school_id} and type=0
    </select>
    <select id="selectCourseImgByschoolID" resultMap="schoolinformationResultMap">
        SELECT *
        FROM school_information
        WHERE school_id=#{school_id} and type=1
    </select>
    <resultMap id="schoolinformationResultMap" type="xmu.yunzhieducation.entity.School_information">
        <id property="id" column="id"/>
        <result property="school_id" column="school_id"/>
        <result property="content" column="content"/>
        <result property="type" column="type"/>
        <result property="course_id" column="course_id"/>
    </resultMap>
</mapper>